@charset "utf-8";

.buttons {
	display: inline-flex;
	align-items: center;
	border:1px solid transparent;
	justify-content: center;
	cursor: pointer;
	line-height: 1;
	//transition: color .3s cubic-bezier(.4,0,.2,1),border-color .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1);
	&:disabled {
		cursor: inherit;
	}
	&[data-size=big] {
		font-size:20px;
		font-weight:600;
		padding:0 16px;
		height:64px;
		border-radius: 8px;
		letter-spacing: -0.4px;
	}
	&[data-size=lg] {
		font-size:20px;
		font-weight:600;
		padding:0 16px;
		height:54px;
		border-radius: 8px;
		letter-spacing: -0.4px;
		min-width: 130px;
	}
	&[data-size=mid]{
		font-size:16px;
		font-weight: 500;
		padding:0 12px;
		height:32px;
		border-radius: 4px;
	}
	&[data-size=sm]{
		font-size:15px;
		font-weight: 500;
		padding:0 10px;
		height: 28px;
	}
	&[data-color=base]{
		background-color: #fff;
		border-color:#ddd;
		color:#333;
	}
	&[data-color=blue]{
		background-color: #007DFA;
		border-color:#007DFA;
		color:#fff;
	}
	&[data-color=green] {
		background-color: #0AAF60;
		border-color:#0AAF60;
		color:#fff
	}
	&[data-color=green-line]{
		color:#0AAF60;
		border-color:#B1DFC9;
		background-color: #CEEFDF;
	}
	&[data-color=gray]{
		background-color: #F1F1F1;
		border-color: #F1F1F1;
		color:#333
	}
	&:disabled {
		color:#fff;
		background-color: #9096A2;
		border-color: #9096A2;
	}
}

.sort-buttons {
	display: inline-flex;
	[data-hide=hide] {font-size:0;}
}