@charset "utf-8";

//tab
.tab-group {
	display: flex;
	align-items: stretch;
	gap: 24px;
	.tab-buttons {
		display: block;
		padding: 0 10px 16px;
		border-bottom:4px solid transparent;
		font-size:18px;
		line-height: 22px;
		color: #666;
		font-weight: 600;
		cursor: pointer;
		&.active {
			color:#007DFA;
			border-bottom-color: #007DFA;
		}
	}
}

//dropdown 
.dropdown {
	position: relative;
	display: inline-flex;
	align-items: center;
	.toggle-buttons {
		display: inline-flex;
		align-items: center;
		font-size: 15px;
		line-height: 24px;
		color:#333;
		padding:0 12px;
		border:1px solid #E4E4E7;
		border-radius: 4px;
		height:40px;
		cursor: pointer;
		&::after {
			content: '';
			display: inline-block;
			width:24px;
			height:24px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41421 0C0.523309 0 0.0771418 1.07714 0.707107 1.70711L4.29289 5.29289C4.68342 5.68342 5.31658 5.68342 5.70711 5.29289L9.29289 1.70711C9.92286 1.07714 9.47669 0 8.58579 0L1.41421 0Z' fill='%23333333'/%3E%3C/svg%3E%0A");
			margin-left:8px;
			pointer-events: none;
		}
	}
}

//checkbox 
[type=checkbox]{
	width:20px;
	height: 20px;
	border:1px solid #ddd;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}
[type=checkbox]:checked {
	border-color:#3981F7;
	background-color: #3981F7;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 6L5 8.5L10 3.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
[type=checkbox] + label {
	font-size:16px;
	color:#333;
	font-weight:600;
	cursor: pointer;
}

.form-chk {
	display: inline-flex;
	align-items: center;
	[type=checkbox] + label {
		margin-left:10px;
	}
}