@charset "utf-8";
//checkbox 
[type=checkbox]{
	width:20px;
	height: 20px;
	border:1px solid #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-color: $white;
	cursor: pointer;
	vertical-align: top;
	&:checked{
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.91689 8.76673C3.07668 8.94866 3.24068 9.12798 3.41275 9.29683C3.54445 9.42646 3.68351 9.55272 3.83171 9.66069C4.02521 9.8019 4.25031 9.92517 4.49122 9.91658C4.7251 9.90799 4.93967 9.77724 5.12228 9.63192C5.4243 9.39209 5.7077 9.06484 5.95949 8.76748L11.1794 2.59872C11.4326 2.29949 11.5934 1.91695 11.5471 1.50902C11.5105 1.18812 11.3465 0.890757 11.0902 0.713685C10.8918 0.576585 10.6596 0.527647 10.4265 0.570981C10.1143 0.629258 9.84562 0.840699 9.63702 1.08576C7.93943 3.07764 6.245 5.07213 4.55022 7.06699L4.43819 7.19886L2.31673 4.70976C2.02104 4.36272 1.62491 4.18901 1.19577 4.35226C1.03002 4.41539 0.880064 4.52335 0.758557 4.65821C0.623002 4.80913 0.520458 4.99667 0.47305 5.19951C0.391928 5.54581 0.483585 5.87455 0.705529 6.1383L2.91689 8.76673Z' fill='black'/%3E%3C/svg%3E%0A");
	}
	&:disabled {
		background-color:#fafafa ;
		& + label {
			opacity: 0.5;
			cursor:not-allowed;
		}		
	}
	& + label {
		@include font(16px, 20px, 400);
		color:$base-color;
		cursor: pointer;
		margin-left:10px;
	}
}

//radio
[type=radio] {
	width:18px;
	height:18px;
	border:1px solid #ddd;
	border-radius: 50%;
	&:checked {
		border:2px solid #626E7B;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 8px auto;
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23626E7B'/%3E%3Ccircle cx='4' cy='4' r='4' stroke='%23626E7B'/%3E%3C/svg%3E%0A");
	}
	&:checked:disabled {
		opacity: 0.5;
	}
	&:disabled {
		background-color:#fafafa ;
		& + label {
			opacity: 0.5;
			cursor:not-allowed;
		}
	}
}
[type=radio] + label {
	@include font(16px, 18px, 400);
	color:$base-color;
	cursor: pointer;
	margin-left:8px;
}

.form-radio {
	display: inline-flex;
	align-items: center;
	label + [type=radio]  {
		margin-left:20px;
	}
}

//input
[type=text],
[type=number],
[type=tel],
[type=password] {
	border: 1px solid $border;
	height: 40px;
	padding:0 10px;
	color:$base-color;
	@include font(15px, 18px, 400);
	border-radius: 4px;
}

::placeholder {
	color:#777;
	@include font(15px, 18px, 400);
}

.form-inp {
	display: flex;
	align-items: center;
	[type=text] {
		flex: 1;
		width:100%;
	}
}

.form-datepicek {
	display: flex;
	align-items: center;
	gap:10px;
	@include font(15px, 18px, 400);
	color:#666;
	.datepicker {
		position: relative;
		border-radius: 4px;
		border: 1px solid $border;
		height: 40px;
		padding:0 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		.ico {
			@include icon(16px, 16px);
			margin-right:8px;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1667 2.87333V1.83333C11.1667 1.55999 10.94 1.33333 10.6667 1.33333C10.3933 1.33333 10.1667 1.55999 10.1667 1.83333V2.83333H5.83332V1.83333C5.83332 1.55999 5.60666 1.33333 5.33332 1.33333C5.05999 1.33333 4.83332 1.55999 4.83332 1.83333V2.87333C3.03332 3.03999 2.15999 4.11333 2.02666 5.70666C2.01332 5.89999 2.17332 6.06 2.35999 6.06H13.64C13.8333 6.06 13.9933 5.89333 13.9733 5.70666C13.84 4.11333 12.9667 3.03999 11.1667 2.87333Z' fill='%239096A2'/%3E%3Cpath d='M13.3333 7.06H2.66667C2.3 7.06 2 7.36 2 7.72666V11.8333C2 13.8333 3 15.1667 5.33333 15.1667H10.6667C13 15.1667 14 13.8333 14 11.8333V7.72666C14 7.36 13.7 7.06 13.3333 7.06ZM6.14 12.64C6.10667 12.6667 6.07333 12.7 6.04 12.72C6 12.7467 5.96 12.7667 5.92 12.78C5.88 12.8 5.84 12.8133 5.8 12.82C5.75333 12.8267 5.71333 12.8333 5.66667 12.8333C5.58 12.8333 5.49333 12.8133 5.41333 12.78C5.32667 12.7467 5.26 12.7 5.19333 12.64C5.07333 12.5133 5 12.34 5 12.1667C5 11.9933 5.07333 11.82 5.19333 11.6933C5.26 11.6333 5.32667 11.5867 5.41333 11.5533C5.53333 11.5 5.66667 11.4867 5.8 11.5133C5.84 11.52 5.88 11.5333 5.92 11.5533C5.96 11.5667 6 11.5867 6.04 11.6133C6.07333 11.64 6.10667 11.6667 6.14 11.6933C6.26 11.82 6.33333 11.9933 6.33333 12.1667C6.33333 12.34 6.26 12.5133 6.14 12.64ZM6.14 10.3067C6.01333 10.4267 5.84 10.5 5.66667 10.5C5.49333 10.5 5.32 10.4267 5.19333 10.3067C5.07333 10.18 5 10.0067 5 9.83333C5 9.66 5.07333 9.48666 5.19333 9.36C5.38 9.17333 5.67333 9.11333 5.92 9.22C6.00667 9.25333 6.08 9.3 6.14 9.36C6.26 9.48666 6.33333 9.66 6.33333 9.83333C6.33333 10.0067 6.26 10.18 6.14 10.3067ZM8.47333 12.64C8.34667 12.76 8.17333 12.8333 8 12.8333C7.82667 12.8333 7.65333 12.76 7.52667 12.64C7.40667 12.5133 7.33333 12.34 7.33333 12.1667C7.33333 11.9933 7.40667 11.82 7.52667 11.6933C7.77333 11.4467 8.22667 11.4467 8.47333 11.6933C8.59333 11.82 8.66667 11.9933 8.66667 12.1667C8.66667 12.34 8.59333 12.5133 8.47333 12.64ZM8.47333 10.3067C8.44 10.3333 8.40667 10.36 8.37333 10.3867C8.33333 10.4133 8.29333 10.4333 8.25333 10.4467C8.21333 10.4667 8.17333 10.48 8.13333 10.4867C8.08667 10.4933 8.04667 10.5 8 10.5C7.82667 10.5 7.65333 10.4267 7.52667 10.3067C7.40667 10.18 7.33333 10.0067 7.33333 9.83333C7.33333 9.66 7.40667 9.48666 7.52667 9.36C7.58667 9.3 7.66 9.25333 7.74667 9.22C7.99333 9.11333 8.28667 9.17333 8.47333 9.36C8.59333 9.48666 8.66667 9.66 8.66667 9.83333C8.66667 10.0067 8.59333 10.18 8.47333 10.3067ZM10.8067 12.64C10.68 12.76 10.5067 12.8333 10.3333 12.8333C10.16 12.8333 9.98667 12.76 9.86 12.64C9.74 12.5133 9.66667 12.34 9.66667 12.1667C9.66667 11.9933 9.74 11.82 9.86 11.6933C10.1067 11.4467 10.56 11.4467 10.8067 11.6933C10.9267 11.82 11 11.9933 11 12.1667C11 12.34 10.9267 12.5133 10.8067 12.64ZM10.8067 10.3067C10.7733 10.3333 10.74 10.36 10.7067 10.3867C10.6667 10.4133 10.6267 10.4333 10.5867 10.4467C10.5467 10.4667 10.5067 10.48 10.4667 10.4867C10.42 10.4933 10.3733 10.5 10.3333 10.5C10.16 10.5 9.98667 10.4267 9.86 10.3067C9.74 10.18 9.66667 10.0067 9.66667 9.83333C9.66667 9.66 9.74 9.48666 9.86 9.36C9.92667 9.3 9.99333 9.25333 10.08 9.22C10.2 9.16666 10.3333 9.15333 10.4667 9.18C10.5067 9.18666 10.5467 9.2 10.5867 9.22C10.6267 9.23333 10.6667 9.25333 10.7067 9.28C10.74 9.30666 10.7733 9.33333 10.8067 9.36C10.9267 9.48666 11 9.66 11 9.83333C11 10.0067 10.9267 10.18 10.8067 10.3067Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
		}
		[type=text] {
			border:none;
			width:82px;
			
			height:38px;
			padding:0;
		}
	}
}


textarea {
	border:1px solid #ddd;
	width:100%;
	padding:10px;
	@include font(16px, 20px, 400);
	color:$base-color;
}

// select 
select {
	color:$base-color;
	@include font(15px, 18px, 400);
	height:40px;
	padding:0 50px 0 12px;
	border-radius: 4px;
	border:1px solid $border;
	background-repeat: no-repeat;
	background-position: calc(100% - 12px) 50%;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2032_3336)'%3E%3Cpath d='M8.41421 9C7.52331 9 7.07714 10.0771 7.70711 10.7071L11.2929 14.2929C11.6834 14.6834 12.3166 14.6834 12.7071 14.2929L16.2929 10.7071C16.9229 10.0771 16.4767 9 15.5858 9H8.41421Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2032_3336'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}


.search-filter {
	background-color: $bg-search;
	padding:24px 30px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	.filter-items {
		display: flex;
		align-items: center;
		gap: 10px;
		& + .filter-items {margin-left:40px;}
	}
	.filter-label {
		@include font(16px, 20px, 600);
		color:$title;
		margin-right:10px;
	}
	.form-inp {
		width:240px;
	}
}

.table {
	width:100%;
	table-layout: fixed;
	th {
		border-right:1px solid $border;
		border-bottom:1px solid $border;
		border-top:2px solid #666;
		background-color: #F4F4F4;
		@include font(16px, 1, 400);
		color:$title;
		padding:20px 0;
		& > div {
			position: relative;
			&::after {
				position: absolute;
				top:calc(50% - 3px);
				right:10px;
				@include icon(10px, 6px); 
				// background-color: #9096A2;
				// border-radius: 2px;
				background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1C0 0.447715 0.447715 0 1 0H9C9.55228 0 10 0.447715 10 1V5C10 5.55228 9.55229 6 9 6H1C0.447715 6 0 5.55228 0 5V1Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
		}
		&:last-child {
			border-right:none;
		}
		.sort {
			position: absolute;
			font-size:0;
			right:10px;
			&::before {
				@include icon(10px, 10px); 
			}
			&.up {
				&::before {
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66607 0.126402L0.139263 4.26327C-0.158233 4.53514 0.0524652 5 0.473187 5L9.52681 5C9.94753 5 10.1582 4.53514 9.86074 4.26328L5.33393 0.126402C5.1495 -0.0421342 4.8505 -0.0421342 4.66607 0.126402Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
				}
				top:calc(50% - 15px);
			}
			&.down {
				&::before {
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33393 4.8736L9.86074 0.736725C10.1582 0.464856 9.94753 5.9546e-07 9.52681 1.13606e-07L0.473188 5.64271e-09C0.0524653 6.25641e-10 -0.158232 0.464855 0.139264 0.736725L4.66607 4.8736C4.8505 5.04213 5.1495 5.04213 5.33393 4.8736Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
				}
				top:calc(50% + 5px);
				
			}
		}
	}
	td {
		border-right:1px solid $border;
		border-bottom:1px solid $border;
		@include font(16px, 18px, 400);
		color:$base-color;
		padding:20px 0;
		text-align: center;
		&.left {
			padding:20px 30px;
			text-align: left;
		}
		&:last-child {
			border-right:none;
		}
	}
	tr {
		&:hover td {
			background-color: $bg-tr;
		}
		&:last-child td {
			border-bottom-color:#666;
		}
	}
	.tb-link {
		display: inline-block;
		max-width: calc(100% - 30px);
		color:$base-color;
		overflow: hidden; 
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
	}
	.ico-new {
		@include icon(18px, 18px);
		vertical-align: top;
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' fill='%23E41E43'/%3E%3Cpath d='M5.03906 14V3.97852H7.00781L11.1094 10.6709V3.97852H12.9893V14H10.959L6.91895 7.46484V14H5.03906Z' fill='white'/%3E%3C/svg%3E%0A");
		margin-left:10px;
	}
}

.table-info {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	@include font(16px, 20px, 400);
	color:$base-color;
	margin-top:15px;
	.total {
		strong {
			font-weight: 600;
			color:$primary;
		}
	}
	.page {
		margin-top:15px;
	}
}

.paging {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:30px;
	.page-item {
		min-width:30px;
		padding:0 5px;
		height:30px;
		@include font(15px, 30px, 400);
		color:#666;
		background-color: #DEE2E7;
		margin:0 2px;
		&.active {
			color:$white;
			background-color: #394459;
		}
	}
	.page-icon {
		@include icon (15px, 13px);
		font-size:0;
		&.first {
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.23388 11.035C7.67887 11.4849 7.67887 12.214 7.23388 12.6621C7.0123 12.8861 6.71987 13 6.42927 13C6.13866 13 5.84624 12.888 5.62465 12.6621L0.333802 7.31241C-0.111189 6.86248 -0.111189 6.13339 0.333802 5.68529L5.62465 0.337454C6.06964 -0.112485 6.79071 -0.112485 7.23388 0.337454C7.67887 0.787392 7.67887 1.51648 7.23388 1.96458L2.74947 6.50069L7.23388 11.035Z' fill='%238996A0'/%3E%3Cpath d='M13.7202 12.6621C13.4986 12.8861 13.2062 13 12.9156 13C12.625 13 12.3326 12.888 12.111 12.6621L6.82013 7.31241C6.37514 6.86248 6.37514 6.13339 6.82013 5.68529L12.111 0.337454C12.556 -0.112485 13.277 -0.112485 13.7202 0.337454C14.1652 0.785555 14.1652 1.51464 13.7202 1.96458L9.2358 6.50069L13.7202 11.035C14.1652 11.4849 14.1652 12.214 13.7202 12.6621Z' fill='%238996A0'/%3E%3C/svg%3E%0A");
		}
		&.prev {
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.09863 12.6621C7.87704 12.8861 7.58462 13 7.29401 13C7.00341 13 6.71099 12.888 6.4894 12.6621L1.19855 7.31241C0.753557 6.86248 0.753557 6.13339 1.19855 5.68529L6.4894 0.337454C6.93439 -0.112485 7.65546 -0.112485 8.09863 0.337454C8.54362 0.785555 8.54362 1.51464 8.09863 1.96458L3.61421 6.50069L8.09863 11.035C8.54362 11.4849 8.54362 12.214 8.09863 12.6621Z' fill='%238996A0'/%3E%3C/svg%3E%0A");
			margin-right:20px;
		}
		&.next {
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25269 12.6621C1.47428 12.8861 1.7667 13 2.0573 13C2.34791 13 2.64033 12.888 2.86192 12.6621L8.15277 7.31241C8.59776 6.86248 8.59776 6.13339 8.15277 5.68529L2.86192 0.337454C2.41693 -0.112485 1.69586 -0.112485 1.25269 0.337454C0.807698 0.785555 0.807698 1.51464 1.25269 1.96458L5.73711 6.50069L1.25269 11.035C0.807698 11.4849 0.807698 12.214 1.25269 12.6621Z' fill='%238996A0'/%3E%3C/svg%3E%0A");
			margin-left:20px;
		}
		&.last {
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.11743 11.035C6.67244 11.4849 6.67244 12.214 7.11743 12.6621C7.33902 12.8861 7.63144 13 7.92205 13C8.21266 13 8.50508 12.888 8.72667 12.6621L14.0175 7.31241C14.4625 6.86248 14.4625 6.13339 14.0175 5.68529L8.72667 0.337454C8.28168 -0.112485 7.56061 -0.112485 7.11743 0.337454C6.67244 0.787392 6.67244 1.51648 7.11743 1.96458L11.6019 6.50069L7.11743 11.035Z' fill='%238996A0'/%3E%3Cpath d='M0.631106 12.6621C0.852694 12.8861 1.14512 13 1.43572 13C1.72633 13 2.01875 12.888 2.24034 12.6621L7.53119 7.31241C7.97618 6.86248 7.97618 6.13339 7.53119 5.68529L2.24034 0.337454C1.79535 -0.112485 1.07428 -0.112485 0.631106 0.337454C0.186116 0.785555 0.186116 1.51464 0.631106 1.96458L5.11552 6.50069L0.631106 11.035C0.186116 11.4849 0.186116 12.214 0.631106 12.6621Z' fill='%238996A0'/%3E%3C/svg%3E%0A");
		}
	}
}

.tb-btn-group {
	display: flex;
	align-items: center;
	margin-top:10px;
	.buttons {
		height:45px;
	}
	.right {
		margin-left:auto;
	}
}


.dropdown {
	position: relative;
	z-index: 0;
	.drop-list {
		display:none;
		position: absolute;
		top:64px;
		left:0;
		width:100%;
		padding-top:4px;
		margin-top:-4px;
		border-radius: 0 0 4px 4px;
		border:1px solid #E4E4E7;
		background-color: #fff;
		z-index: 1;
		max-height: 330px;
		overflow-y: auto;
		.buttons {
			@include font(16px, 18px, 400);
			color:$base-color;
			width:100%;
			justify-content: space-between;
			text-align: center;
			padding:0 12px;
		}
		li {
			border-bottom:1px solid #E4E4E7;
			&:last-child{
				border-bottom:none;
			}
		}
	}
	[data-intent=dropdown].active+ .drop-list {
		display:block;
	}
}

.list-group {
	li {
		padding-left: 20px;
		.num {
			float: left;
			margin-left:-20px;
		}
	}
}

//modal
.modal {
	position: fixed;
	top:0;
	left:0;
	z-index: -100;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	overscroll-behavior: none;
	&.active {
		opacity: 1;
		pointer-events: all;
		z-index: 90;
	}

	.modal-popup {
		position: relative;
		background-color: $white;
		border-radius: 4px;
		max-width: 600px;
		width:100%;
		padding:50px 40px;
		.modal-button-closed {
			position: absolute;
			top:46px;
			right:40px;
			border:none;
			font-size:0;
			&::before{
				@include icon(18px, 18px);
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7326 2.26741C15.3762 1.91086 14.8012 1.91086 14.4448 2.26741L9.00575 7.70754L3.56674 2.26741C3.21027 1.91086 2.62382 1.91086 2.26735 2.26741C1.91088 2.62395 1.91088 3.19901 2.26735 3.55556L7.70637 8.99569L2.26735 14.4473C1.91088 14.8039 1.91088 15.3789 2.26735 15.7355C2.45133 15.9195 2.68131 16 2.91129 16C3.14127 16 3.38275 15.908 3.55524 15.7355L8.99425 10.2953L14.4333 15.7355C14.6058 15.9195 14.8472 16 15.0772 16C15.3072 16 15.5487 15.908 15.7212 15.7355C16.0776 15.3789 16.0776 14.8039 15.7212 14.4473L10.2821 9.00719L15.7326 3.56706C16.0891 3.21052 16.0891 2.63545 15.7326 2.27891V2.26741Z' fill='%238B8FA8'/%3E%3C/svg%3E%0A");
			}
		}
		.modal-header {
			h1 {
				@include font(24px, 28px, 600);
				color:$title;
			}
			margin-bottom:16px;
		}
		&[data-intent=login]{
			padding:60px;
			.modal-button-closed {
				top:30px;
				right:30px;
			}
		}
		&[data-width=w860]{
			max-width:860px;
		}
		&[data-width=w940]{
			max-width:940px;
		}

	}
	.modal-button-group {
		display: flex;
		align-items: center;
		justify-content: center;
		gap:10px;
		.buttons{
			height: 54px;
			min-width: 120px;
		}
	}

}
.page-tab {
	display: flex;
	align-items: flex-end;
	border-bottom:1px solid $primary;
	.page-path {
		padding-bottom:12px;
		margin-left:auto;
	}
}

//tab
.tab {
	display: flex;
	align-items: stretch; 
	.buttons {
		@include font(18px, 22px, 600);
		color:#666;
		border:none;
		border-bottom:4px solid transparent;
		padding:0 16px 16px;
		border-radius: 0px;
		&.active {
			border-bottom-color: $primary;
			color:$primary;
		}
	}
}
.tab-conts {
	&.active {
		display: block;
	}
	display: none;
	padding:40px;
	min-height: calc(100% - 40px);
	@include font(16px, 20px, 400);
	border:1px solid #ddd;
	border-top:none;
	color:#333;
}