@charset "utf-8";

//tab
.tab-group {
	display: flex;
	align-items: stretch;
	gap: 24px;
	.tab-buttons {
		display: block;
		padding: 0 10px 16px;
		border-bottom:4px solid transparent;
		font-size:18px;
		line-height: 22px;
		color: #666;
		font-weight: 600;
		&.active {
			color:#007DFA;
			border-bottom-color: #007DFA;
		}
	}
}

//dropdown 
.dropdown {
	position: relative;
	display: inline-flex;
	align-items: center;
	.toggle-buttons {
		display: inline-flex;
		align-items: center;
		font-size: 15px;
		line-height: 24px;
		color:#333;
		padding:0 12px;
		border:1px solid #E4E4E7;
		border-radius: 4px;
		height:40px;
		&::after {
			content: '';
			display: inline-block;
			width:24px;
			height:24px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41421 0C0.523309 0 0.0771418 1.07714 0.707107 1.70711L4.29289 5.29289C4.68342 5.68342 5.31658 5.68342 5.70711 5.29289L9.29289 1.70711C9.92286 1.07714 9.47669 0 8.58579 0L1.41421 0Z' fill='%23333333'/%3E%3C/svg%3E%0A");
			margin-left:8px;
			pointer-events: none;
		}
	}
}

//checkbox 
[type=checkbox]{
	width:20px;
	height: 20px;
	border:1px solid #ddd;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	&:checked{
		border-color:#3981F7;
		background-color: #3981F7;
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 6L5 8.5L10 3.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	
	}
	&:disabled {
		background-color:#fafafa ;
		& + label {
			opacity: 0.5;
			cursor:not-allowed;
		}		
	}
	& + label {
		font-size:16px;
		color:#333;
		font-weight:600;
		cursor: pointer;
		line-height: 1;
	}
}

.form-chk {
	display: inline-flex;
	align-items: center;
	[type=checkbox] + label {
		margin-left:10px;
	}
}

//radio
[type=radio] {
	width:18px;
	height:18px;
	border:1px solid #ddd;
	border-radius: 50%;
	&:checked {
		border:2px solid #626E7B;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 8px auto;
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23626E7B'/%3E%3Ccircle cx='4' cy='4' r='4' stroke='%23626E7B'/%3E%3C/svg%3E%0A");
	}
	&:checked:disabled {
		opacity: 0.5;
	}
	&:disabled {
		background-color:#fafafa ;
		& + label {
			opacity: 0.5;
			cursor:not-allowed;
		}
	}
}

[type=radio] + label {
	font-size:15px;
	color:#333;
	cursor: pointer;
}
.form-radio {
	display: inline-flex;
	align-items: center;
	[type=radio] + label {
		margin-left:10px;
	}
}

//input
[type=text],
[type=number],
[type=tel],
[type=password] {
	border: 1px solid #ddd;
	height: 34px;
	padding:0 10px;
	font-size:15px;
	color:#333;
}

::placeholder {
	color:#999;
	font-size:15px;
}

.form-inp {
	display: flex;
	align-items: stretch;
	[type=text] {
		flex: 1;
		width:100%;
	}
}

// select 
select {
	min-width: 160px;
	height:36px;
	padding:0 40px 0 12px;
	border:1px solid #ddd;
	background-repeat: no-repeat;
	background-position: calc(100% - 15px) 50%;
	background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5537 7.18896C6.04162 7.66082 6.93136 7.66082 7.41928 7.18896L12.5855 2.19277C13.1021 1.69315 13.1021 0.888211 12.5855 0.388592C12.0689 -0.111026 11.2365 -0.111026 10.7199 0.388592L6.50084 4.46881L2.28175 0.388592C2.02344 0.138783 1.67902 0 1.33461 0C0.990193 0 0.645779 0.138783 0.387467 0.388592C-0.129156 0.888211 -0.129156 1.69315 0.387467 2.19277L5.5537 7.18896Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
}


//datepicker
.form-datepicker {
	display: flex;
	align-items: stretch;
	width:200px;
	[type=text] {
		flex: 1;
		width:100%;
	}
	.ui-datepicker-trigger {
		cursor: pointer;
		width:34px;
		height: 34px;
		font-size:0;
		background-color: #9096A2;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.1388 9.23779H14.1435C13.9872 9.23779 13.8606 9.36146 13.8606 9.51401V10.4859C13.8606 10.6384 13.9872 10.7621 14.1435 10.7621H15.1388C15.295 10.7621 15.4216 10.6384 15.4216 10.4859V9.51401C15.4216 9.36146 15.295 9.23779 15.1388 9.23779Z' fill='white'/%3E%3Cpath d='M12.0482 9.23779H11.0529C10.8967 9.23779 10.77 9.36146 10.77 9.51401V10.4859C10.77 10.6384 10.8967 10.7621 11.0529 10.7621H12.0482C12.2044 10.7621 12.331 10.6384 12.331 10.4859V9.51401C12.331 9.36146 12.2044 9.23779 12.0482 9.23779Z' fill='white'/%3E%3Cpath d='M8.9576 9.23779H7.96231C7.80609 9.23779 7.67944 9.36146 7.67944 9.51401V10.4859C7.67944 10.6384 7.80609 10.7621 7.96231 10.7621H8.9576C9.11382 10.7621 9.24047 10.6384 9.24047 10.4859V9.51401C9.24047 9.36146 9.11382 9.23779 8.9576 9.23779Z' fill='white'/%3E%3Cpath d='M15.1388 12.2557H14.1435C13.9872 12.2557 13.8606 12.3794 13.8606 12.532V13.5038C13.8606 13.6564 13.9872 13.78 14.1435 13.78H15.1388C15.295 13.78 15.4216 13.6564 15.4216 13.5038V12.532C15.4216 12.3794 15.295 12.2557 15.1388 12.2557Z' fill='white'/%3E%3Cpath d='M12.0482 12.2557H11.0529C10.8967 12.2557 10.77 12.3794 10.77 12.532V13.5038C10.77 13.6564 10.8967 13.78 11.0529 13.78H12.0482C12.2044 13.78 12.331 13.6564 12.331 13.5038V12.532C12.331 12.3794 12.2044 12.2557 12.0482 12.2557Z' fill='white'/%3E%3Cpath d='M8.9576 12.2557H7.96231C7.80609 12.2557 7.67944 12.3794 7.67944 12.532V13.5038C7.67944 13.6564 7.80609 13.78 7.96231 13.78H8.9576C9.11382 13.78 9.24047 13.6564 9.24047 13.5038V12.532C9.24047 12.3794 9.11382 12.2557 8.9576 12.2557Z' fill='white'/%3E%3Cpath d='M5.86702 12.2557H4.87174C4.71551 12.2557 4.58887 12.3794 4.58887 12.532V13.5038C4.58887 13.6564 4.71551 13.78 4.87174 13.78H5.86702C6.02325 13.78 6.14989 13.6564 6.14989 13.5038V12.532C6.14989 12.3794 6.02325 12.2557 5.86702 12.2557Z' fill='white'/%3E%3Cpath d='M15.1388 15.2737H14.1435C13.9872 15.2737 13.8606 15.3973 13.8606 15.5499V16.5218C13.8606 16.6743 13.9872 16.798 14.1435 16.798H15.1388C15.295 16.798 15.4216 16.6743 15.4216 16.5218V15.5499C15.4216 15.3973 15.295 15.2737 15.1388 15.2737Z' fill='white'/%3E%3Cpath d='M12.0482 15.2737H11.0529C10.8967 15.2737 10.77 15.3973 10.77 15.5499V16.5218C10.77 16.6743 10.8967 16.798 11.0529 16.798H12.0482C12.2044 16.798 12.331 16.6743 12.331 16.5218V15.5499C12.331 15.3973 12.2044 15.2737 12.0482 15.2737Z' fill='white'/%3E%3Cpath d='M8.9576 15.2737H7.96231C7.80609 15.2737 7.67944 15.3973 7.67944 15.5499V16.5218C7.67944 16.6743 7.80609 16.798 7.96231 16.798H8.9576C9.11382 16.798 9.24047 16.6743 9.24047 16.5218V15.5499C9.24047 15.3973 9.11382 15.2737 8.9576 15.2737Z' fill='white'/%3E%3Cpath d='M5.86702 15.2737H4.87174C4.71551 15.2737 4.58887 15.3973 4.58887 15.5499V16.5218C4.58887 16.6743 4.71551 16.798 4.87174 16.798H5.86702C6.02325 16.798 6.14989 16.6743 6.14989 16.5218V15.5499C6.14989 15.3973 6.02325 15.2737 5.86702 15.2737Z' fill='white'/%3E%3Cpath d='M16.637 1.71867V1.14578C16.637 0.521739 16.1131 0 15.4636 0H14.8769C14.2378 0 13.7035 0.511509 13.7035 1.14578V1.71867H6.29649V1.14578C6.29649 0.521739 5.77266 0 5.1231 0H4.53641C3.89733 0 3.36302 0.511509 3.36302 1.14578V1.71867C1.50864 1.71867 0 3.19182 0 5.00256V16.7161C0 18.5269 1.50864 20 3.36302 20H16.637C18.4914 20 20 18.5269 20 16.7161V5.00256C20 3.19182 18.4914 1.71867 16.637 1.71867ZM14.4788 1.14578C14.4788 0.930946 14.6569 0.767263 14.8664 0.767263H15.4531C15.6731 0.767263 15.8408 0.941176 15.8408 1.14578V3.05882C15.8408 3.27366 15.6627 3.43734 15.4531 3.43734H14.8664C14.6464 3.43734 14.4788 3.26343 14.4788 3.05882V1.14578ZM4.14877 1.14578C4.14877 0.930946 4.32687 0.767263 4.53641 0.767263H5.1231C5.34311 0.767263 5.51074 0.941176 5.51074 1.14578V3.05882C5.51074 3.27366 5.33263 3.43734 5.1231 3.43734H4.53641C4.3164 3.43734 4.14877 3.26343 4.14877 3.05882V1.14578ZM3.36302 2.4757V3.04859C3.36302 3.67263 3.88685 4.19437 4.53641 4.19437H5.1231C5.76218 4.19437 6.29649 3.68286 6.29649 3.04859V2.4757H13.7035V3.04859C13.7035 3.67263 14.2273 4.19437 14.8769 4.19437H15.4636C16.1027 4.19437 16.637 3.68286 16.637 3.04859V2.4757C18.0618 2.4757 19.2247 3.61125 19.2247 5.00256V6.21995H0.775275V5.00256C0.775275 3.61125 1.93819 2.4757 3.36302 2.4757ZM16.637 19.243H3.36302C1.93819 19.243 0.775275 18.1074 0.775275 16.7161V6.97698H19.2247V16.7161C19.2247 18.1074 18.0618 19.243 16.637 19.243Z' fill='white'/%3E%3C/svg%3E%0A");
	}
}

//datepicker
.ui-datepicker {
	width:280px;
	border:1px solid #ddd;
	border-radius: 0;
	padding:0 14px 10px;
	margin-top:3px;
	.ui-datepicker-header {
		border:none;
		background-color: transparent;
		padding:20px 0;
	}
	.ui-datepicker-title {
		font-size:18px;
		color:#1a1a1a;
		font-weight:700;
		line-height: 22px;
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
		width:22px;
		height:22px;
		top:20px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		cursor: pointer;
		border-radius: 0;
		span {
			display:none;
		}
		&:hover {
			border:none;
			background-color: inherit;
		}
	}
	.ui-datepicker-prev{
		left:10px;
		background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.2 11.814L1 6.657L5.2 1.5' stroke='%23007DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		&:hover{left:10px;}
	}
	.ui-datepicker-next {
		background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11.814L5.2 6.657L1 1.5' stroke='%23007DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		right:10px;
		&:hover{right:10px;}
	}

	.ui-datepicker-calendar {
		th {
			padding:0;
			height:28px;
			&:first-child {color:#FA4545;}
			&:last-child {color:#007DFA;}
		}
		td{
			height:34px;
			.ui-state-default {
				width:28px;
				height:28px;
				margin:0 auto;
				border:none;
				padding:0;
				background-color: transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				color:#333;
				font-size:14px;
			}	
		}
		.ui-datepicker-today .ui-state-default{
			background-color: #EAEFF8;
			border-radius: 50%;
		}
		.ui-datepicker-current-day .ui-state-default{
			background-color: #007DFA;
			color:#fff;
			border-radius: 50%;
		}
	}
}