@charset "utf-8";
.modal {
	position: fixed;
	top:0;
	left:0;
	z-index: -100;
	background-color: rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	overscroll-behavior: none;
	&.active {
		opacity: 1;
		pointer-events: all;
		z-index: 90;
	}
}
.modal-popup {
	position: relative;
	background-color: #fff;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	max-width: 1200px;
	max-height: calc(100% - 120px);
	// display: flex;
	// flex-direction: column;
	display: flex;
	align-items: stretch;

}
.modal-container {
	flex:1;
	display: flex;
	flex-direction: column;
}
.modal-aside {
	width:325px;
	border-left:1px solid #ddd;
	padding:45px 35px;
}
.modal-header {
	padding:40px 40px 20px;
	border-bottom:1px solid #ddd;
	.badge {
		height:32px;
		padding:0 15px;
		font-size:16px;
		font-weight:500;
		border-radius: 16px;
		border:none;
		
		&[data-color=blue] {
			color:#fff;
			background-color: #007DFA;
		}
		&[data-color=purple]{
			color:#fff;
			background-color: #6945FA;
		}
	}
	.modal-title {
		font-size:24px;
		line-height: 28px;
		color:#1A1A1A;
		font-weight:600;
	}
	.sub-txt {
		margin-top:6px;
		font-size:16px;
		color: #666;;
	}
}
.modal-contents {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: none;
	padding:30px 35px 0;
	&[data-width=mid]{
		width:800px;
	}
	&::-webkit-scrollbar {
		width: 5px;  
	}
	&::-webkit-scrollbar-thumb {
		background:rgba(0,0,0,0.15);
		border-radius: 2.5px;
	}
	&::-webkit-scrollbar-track {
		background: rgba(0,0,0,0.05);
	}
}
.modal-footer {
	padding:30px 0 40px;
	.button-group {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
	}
}
.modal-button-closed {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width:18px;
	height: 18px;
	font-size:0;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7326 2.26741C15.3762 1.91086 14.8012 1.91086 14.4448 2.26741L9.00575 7.70754L3.56674 2.26741C3.21027 1.91086 2.62382 1.91086 2.26735 2.26741C1.91088 2.62395 1.91088 3.19901 2.26735 3.55556L7.70637 8.99569L2.26735 14.4473C1.91088 14.8039 1.91088 15.3789 2.26735 15.7355C2.45133 15.9195 2.68131 16 2.91129 16C3.14127 16 3.38275 15.908 3.55524 15.7355L8.99425 10.2953L14.4333 15.7355C14.6058 15.9195 14.8472 16 15.0772 16C15.3072 16 15.5487 15.908 15.7212 15.7355C16.0776 15.3789 16.0776 14.8039 15.7212 14.4473L10.2821 9.00719L15.7326 3.56706C16.0891 3.21052 16.0891 2.63545 15.7326 2.27891V2.26741Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7326 2.26741C15.3762 1.91086 14.8012 1.91086 14.4448 2.26741L9.00575 7.70754L3.56674 2.26741C3.21027 1.91086 2.62382 1.91086 2.26735 2.26741C1.91088 2.62395 1.91088 3.19901 2.26735 3.55556L7.70637 8.99569L2.26735 14.4473C1.91088 14.8039 1.91088 15.3789 2.26735 15.7355C2.45133 15.9195 2.68131 16 2.91129 16C3.14127 16 3.38275 15.908 3.55524 15.7355L8.99425 10.2953L14.4333 15.7355C14.6058 15.9195 14.8472 16 15.0772 16C15.3072 16 15.5487 15.908 15.7212 15.7355C16.0776 15.3789 16.0776 14.8039 15.7212 14.4473L10.2821 9.00719L15.7326 3.56706C16.0891 3.21052 16.0891 2.63545 15.7326 2.27891V2.26741Z' fill='%23007DFA'/%3E%3C/svg%3E%0A");
	}
}

.modal-utility {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom:20px;
	.button-area {
		display: flex;
		align-items: center;
		.button-group + .button-group::before {
			content:'';
			width:1px;
			height:18px;
			background-color: #ddd;
			display: inline-block;
			margin-left:20px;
		}
	}
	.button-group {
		display: flex;
		align-items: center;
		gap: 20px;
		.ico {
			width:18px;
			height:18px;
			&.grid {
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.8' y='0.8' width='16.4' height='16.4' rx='1.2' stroke='%239096A2' stroke-width='1.6'/%3E%3Cpath d='M10.8 0.8H16C16.6627 0.8 17.2 1.33726 17.2 2V16C17.2 16.6627 16.6627 17.2 16 17.2H10.8V0.8Z' stroke='%239096A2' stroke-width='1.6'/%3E%3C/svg%3E%0A");
			}
			&.expand{
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.72727 1.03909V0.597273C5.72727 0.265909 5.46136 0 5.13 0H0.597273C0.265909 0 0 0.265909 0 0.597273V5.13C0 5.46136 0.265909 5.72727 0.597273 5.72727H1.03909C1.37045 5.72727 1.63636 5.46136 1.63636 5.13V2.50364L5.30591 6.14864C5.53909 6.38182 5.91545 6.38182 6.14864 6.14864C6.38182 5.91545 6.38182 5.53909 6.14864 5.30591L2.50364 1.63636H5.13C5.46136 1.63636 5.72727 1.37045 5.72727 1.03909ZM5.30591 11.8514L1.63636 15.4964V12.87C1.63636 12.5386 1.37045 12.2727 1.03909 12.2727H0.597273C0.265909 12.2727 0 12.5386 0 12.87V17.4027C0 17.7341 0.265909 18 0.597273 18H5.13C5.46136 18 5.72727 17.7341 5.72727 17.4027V16.9609C5.72727 16.6295 5.46136 16.3636 5.13 16.3636H2.50364L6.14864 12.6941C6.38182 12.4609 6.38182 12.0845 6.14864 11.8514C5.91545 11.6182 5.53909 11.6182 5.30591 11.8514ZM16.3636 15.4964L12.6941 11.8514C12.4609 11.6182 12.0845 11.6182 11.8514 11.8514C11.6182 12.0845 11.6182 12.4609 11.8514 12.6941L15.4964 16.3636H12.87C12.5386 16.3636 12.2727 16.6295 12.2727 16.9609V17.4027C12.2727 17.7341 12.5386 18 12.87 18H17.4027C17.7341 18 18 17.7341 18 17.4027V12.87C18 12.5386 17.7341 12.2727 17.4027 12.2727H16.9609C16.6295 12.2727 16.3636 12.5386 16.3636 12.87V15.4964ZM12.2727 0.597273V1.03909C12.2727 1.37045 12.5386 1.63636 12.87 1.63636H15.4964L11.8514 5.30591C11.6182 5.53909 11.6182 5.91545 11.8514 6.14864C12.0845 6.38182 12.4609 6.38182 12.6941 6.14864L16.3636 2.50364V5.13C16.3636 5.46136 16.6295 5.72727 16.9609 5.72727H17.4027C17.7341 5.72727 18 5.46136 18 5.13V0.597273C18 0.265909 17.7341 0 17.4027 0H12.87C12.5386 0 12.2727 0.265909 12.2727 0.597273Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
			&.share{
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9593 9.94784C17.9091 9.47787 17.5144 9.10815 17.0287 9.10815H14.0209C13.5008 9.10815 13.0809 9.528 13.0809 10.0481C13.0809 10.5682 13.5008 10.988 14.0209 10.988H16.1984V16.1985H1.80157V10.988H3.97911C4.49922 10.988 4.91906 10.5682 4.91906 10.0481C4.91906 9.528 4.49922 9.10815 3.97911 9.10815H0.971279C0.488773 9.10815 0.0939948 9.47473 0.0407311 9.94157C0.0156658 10.023 0 10.1076 0 10.1954V17.0977C0 17.5927 0.404177 17.9969 0.899217 17.9969H17.0977C17.5927 17.9969 17.9969 17.5927 17.9969 17.0977V10.1954C17.9969 10.1076 17.9812 10.0262 17.9561 9.94784H17.9593Z' fill='%239096A2'/%3E%3Cpath d='M5.41094 5.76188L8.09919 3.07363V12.8616C8.09919 13.3567 8.50337 13.7608 8.99841 13.7608C9.49345 13.7608 9.89762 13.3567 9.89762 12.8616V3.07363L12.5859 5.76188C12.7551 5.93107 12.9807 6.02506 13.2219 6.02506C13.4632 6.02506 13.6887 5.93107 13.8579 5.76188C14.2089 5.41097 14.2089 4.84073 13.8579 4.48982L9.63757 0.263185C9.63757 0.263185 9.61564 0.24752 9.60624 0.23812C9.44645 0.0908616 9.23339 0 8.99841 0C8.76342 0 8.5441 0.0939948 8.38118 0.24752C8.37491 0.253786 8.36864 0.256919 8.36238 0.263185L4.13574 4.48982C3.96655 4.65901 3.87256 4.88773 3.87256 5.12585C3.87256 5.36397 3.96655 5.59269 4.13574 5.76188C4.48666 6.11279 5.05689 6.11279 5.40781 5.76188H5.41094Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
			&.favor {
				background-size: contain;
				background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9473 7.79314C18.82 7.38506 18.4825 7.08787 18.076 7.0261L13.1639 6.28023L10.9669 1.62817C10.7852 1.24344 10.4103 1 9.99975 1C9.58923 1 9.21454 1.24344 9.03255 1.62817L6.83564 6.28023L1.92353 7.0261C1.5172 7.08763 1.17928 7.38506 1.05268 7.79314C0.926077 8.20146 1.03173 8.64918 1.3259 8.94879L4.88052 12.5697L4.04155 17.6821C3.97197 18.1053 4.13837 18.5326 4.47046 18.7848C4.80256 19.0367 5.24287 19.07 5.60615 18.8704L9.99998 16.4567L14.3938 18.8704C14.5516 18.9572 14.724 19 14.8958 19C15.1192 19 15.3417 18.9273 15.5297 18.7848C15.8618 18.5326 16.0285 18.1053 15.9586 17.6821L15.1197 12.5697L18.6738 8.94879C18.9685 8.64918 19.0739 8.20146 18.9473 7.79314Z' stroke='%239096A2' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
			}
			&.info {
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='8' width='3' height='3' rx='1' fill='%239096A2'/%3E%3Crect x='8' y='8' width='3' height='3' rx='1' fill='%239096A2'/%3E%3Crect x='15' y='8' width='3' height='3' rx='1' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
		}
		.buttons:hover .ico {
			&.grid {
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.8' y='0.8' width='16.4' height='16.4' rx='1.2' stroke='%23007DFA' stroke-width='1.6'/%3E%3Cpath d='M10.8 0.8H16C16.6627 0.8 17.2 1.33726 17.2 2V16C17.2 16.6627 16.6627 17.2 16 17.2H10.8V0.8Z' stroke='%23007DFA' stroke-width='1.6'/%3E%3C/svg%3E%0A");
			}
			&.expand{
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.72727 1.03909V0.597273C5.72727 0.265909 5.46136 0 5.13 0H0.597273C0.265909 0 0 0.265909 0 0.597273V5.13C0 5.46136 0.265909 5.72727 0.597273 5.72727H1.03909C1.37045 5.72727 1.63636 5.46136 1.63636 5.13V2.50364L5.30591 6.14864C5.53909 6.38182 5.91545 6.38182 6.14864 6.14864C6.38182 5.91545 6.38182 5.53909 6.14864 5.30591L2.50364 1.63636H5.13C5.46136 1.63636 5.72727 1.37045 5.72727 1.03909ZM5.30591 11.8514L1.63636 15.4964V12.87C1.63636 12.5386 1.37045 12.2727 1.03909 12.2727H0.597273C0.265909 12.2727 0 12.5386 0 12.87V17.4027C0 17.7341 0.265909 18 0.597273 18H5.13C5.46136 18 5.72727 17.7341 5.72727 17.4027V16.9609C5.72727 16.6295 5.46136 16.3636 5.13 16.3636H2.50364L6.14864 12.6941C6.38182 12.4609 6.38182 12.0845 6.14864 11.8514C5.91545 11.6182 5.53909 11.6182 5.30591 11.8514ZM16.3636 15.4964L12.6941 11.8514C12.4609 11.6182 12.0845 11.6182 11.8514 11.8514C11.6182 12.0845 11.6182 12.4609 11.8514 12.6941L15.4964 16.3636H12.87C12.5386 16.3636 12.2727 16.6295 12.2727 16.9609V17.4027C12.2727 17.7341 12.5386 18 12.87 18H17.4027C17.7341 18 18 17.7341 18 17.4027V12.87C18 12.5386 17.7341 12.2727 17.4027 12.2727H16.9609C16.6295 12.2727 16.3636 12.5386 16.3636 12.87V15.4964ZM12.2727 0.597273V1.03909C12.2727 1.37045 12.5386 1.63636 12.87 1.63636H15.4964L11.8514 5.30591C11.6182 5.53909 11.6182 5.91545 11.8514 6.14864C12.0845 6.38182 12.4609 6.38182 12.6941 6.14864L16.3636 2.50364V5.13C16.3636 5.46136 16.6295 5.72727 16.9609 5.72727H17.4027C17.7341 5.72727 18 5.46136 18 5.13V0.597273C18 0.265909 17.7341 0 17.4027 0H12.87C12.5386 0 12.2727 0.265909 12.2727 0.597273Z' fill='%23007DFA'/%3E%3C/svg%3E%0A");
			}
			&.share{
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9593 9.94784C17.9091 9.47787 17.5144 9.10815 17.0287 9.10815H14.0209C13.5008 9.10815 13.0809 9.528 13.0809 10.0481C13.0809 10.5682 13.5008 10.988 14.0209 10.988H16.1984V16.1985H1.80157V10.988H3.97911C4.49922 10.988 4.91906 10.5682 4.91906 10.0481C4.91906 9.528 4.49922 9.10815 3.97911 9.10815H0.971279C0.488773 9.10815 0.0939948 9.47473 0.0407311 9.94157C0.0156658 10.023 0 10.1076 0 10.1954V17.0977C0 17.5927 0.404177 17.9969 0.899217 17.9969H17.0977C17.5927 17.9969 17.9969 17.5927 17.9969 17.0977V10.1954C17.9969 10.1076 17.9812 10.0262 17.9561 9.94784H17.9593Z' fill='%23007DFA'/%3E%3Cpath d='M5.41094 5.76188L8.09919 3.07363V12.8616C8.09919 13.3567 8.50337 13.7608 8.99841 13.7608C9.49345 13.7608 9.89762 13.3567 9.89762 12.8616V3.07363L12.5859 5.76188C12.7551 5.93107 12.9807 6.02506 13.2219 6.02506C13.4632 6.02506 13.6887 5.93107 13.8579 5.76188C14.2089 5.41097 14.2089 4.84073 13.8579 4.48982L9.63757 0.263185C9.63757 0.263185 9.61564 0.24752 9.60624 0.23812C9.44645 0.0908616 9.23339 0 8.99841 0C8.76342 0 8.5441 0.0939948 8.38118 0.24752C8.37491 0.253786 8.36864 0.256919 8.36238 0.263185L4.13574 4.48982C3.96655 4.65901 3.87256 4.88773 3.87256 5.12585C3.87256 5.36397 3.96655 5.59269 4.13574 5.76188C4.48666 6.11279 5.05689 6.11279 5.40781 5.76188H5.41094Z' fill='%23007DFA'/%3E%3C/svg%3E%0A");
			}
			&.info {
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='8' width='3' height='3' rx='1' fill='%23007DFA'/%3E%3Crect x='8' y='8' width='3' height='3' rx='1' fill='%23007DFA'/%3E%3Crect x='15' y='8' width='3' height='3' rx='1' fill='%23007DFA'/%3E%3C/svg%3E%0A");
			}
		}
	}
	.move-group {
		display: flex;
		align-items: stretch;
		gap: 8px;
		.buttons {
			width:24px;
			height:24px;
			border:1px solid #ddd;
			border-radius: 2px;
			.ico{
				width:6px;
				height:10px;
				background-size: contain;
				&.up {
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.259933 5.73539C0.0875864 5.5597 8.01527e-09 5.32785 1.07629e-08 5.09744C1.35105e-08 4.86703 0.086174 4.63519 0.259933 4.4595L4.37507 0.26461C4.72117 -0.088204 5.28201 -0.088204 5.6267 0.26461L9.74042 4.4595C10.0865 4.81231 10.0865 5.38402 9.74042 5.73539C9.39573 6.0882 8.83489 6.0882 8.48879 5.73539L4.99947 2.17989L1.51157 5.73539C1.16546 6.0882 0.604628 6.0882 0.259933 5.73539Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
				}
				&.down {
					background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.259933 0.264611C0.0875864 0.440298 8.01527e-09 0.672147 1.07629e-08 0.902556C1.35105e-08 1.13297 0.086174 1.36481 0.259933 1.5405L4.37507 5.73539C4.72117 6.0882 5.28201 6.0882 5.6267 5.73539L9.74042 1.5405C10.0865 1.18769 10.0865 0.615985 9.74042 0.264611C9.39573 -0.0882035 8.83489 -0.0882035 8.48879 0.264611L4.99947 3.82011L1.51157 0.264611C1.16546 -0.0882034 0.604628 -0.0882034 0.259933 0.264611Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
}