@charset "utf-8";

//신청
.confirm-form {
	.form-items{
		display: flex;
		align-items: center;
		label {
			display: inline-flex;
			align-items: center;
			width:150px;
			font-size:16px;
			color:#333;
		}
		& + .form-items {margin-top:10px;}
		.form-inp{
			width:400px;
		}
		.ico {
			width:16px;
			height:16px;
			background-repeat: no-repeat;
			background-position: center;
			margin-right:5px;
			&.calendar {
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1667 2.37337V1.33337C11.1667 1.06004 10.94 0.833374 10.6667 0.833374C10.3933 0.833374 10.1667 1.06004 10.1667 1.33337V2.33337H5.83332V1.33337C5.83332 1.06004 5.60666 0.833374 5.33332 0.833374C5.05999 0.833374 4.83332 1.06004 4.83332 1.33337V2.37337C3.03332 2.54004 2.15999 3.61337 2.02666 5.20671C2.01332 5.40004 2.17332 5.56004 2.35999 5.56004H13.64C13.8333 5.56004 13.9933 5.39337 13.9733 5.20671C13.84 3.61337 12.9667 2.54004 11.1667 2.37337Z' fill='%239096A2'/%3E%3Cpath d='M13.3333 6.56006H2.66667C2.3 6.56006 2 6.86006 2 7.22673V11.3334C2 13.3334 3 14.6667 5.33333 14.6667H10.6667C13 14.6667 14 13.3334 14 11.3334V7.22673C14 6.86006 13.7 6.56006 13.3333 6.56006ZM6.14 12.1401C6.10667 12.1667 6.07333 12.2001 6.04 12.2201C6 12.2467 5.96 12.2667 5.92 12.2801C5.88 12.3001 5.84 12.3134 5.8 12.3201C5.75333 12.3267 5.71333 12.3334 5.66667 12.3334C5.58 12.3334 5.49333 12.3134 5.41333 12.2801C5.32667 12.2467 5.26 12.2001 5.19333 12.1401C5.07333 12.0134 5 11.8401 5 11.6667C5 11.4934 5.07333 11.3201 5.19333 11.1934C5.26 11.1334 5.32667 11.0867 5.41333 11.0534C5.53333 11.0001 5.66667 10.9867 5.8 11.0134C5.84 11.0201 5.88 11.0334 5.92 11.0534C5.96 11.0667 6 11.0867 6.04 11.1134C6.07333 11.1401 6.10667 11.1667 6.14 11.1934C6.26 11.3201 6.33333 11.4934 6.33333 11.6667C6.33333 11.8401 6.26 12.0134 6.14 12.1401ZM6.14 9.80673C6.01333 9.92673 5.84 10.0001 5.66667 10.0001C5.49333 10.0001 5.32 9.92673 5.19333 9.80673C5.07333 9.68006 5 9.50673 5 9.33339C5 9.16006 5.07333 8.98673 5.19333 8.86006C5.38 8.67339 5.67333 8.61339 5.92 8.72006C6.00667 8.75339 6.08 8.80006 6.14 8.86006C6.26 8.98673 6.33333 9.16006 6.33333 9.33339C6.33333 9.50673 6.26 9.68006 6.14 9.80673ZM8.47333 12.1401C8.34667 12.2601 8.17333 12.3334 8 12.3334C7.82667 12.3334 7.65333 12.2601 7.52667 12.1401C7.40667 12.0134 7.33333 11.8401 7.33333 11.6667C7.33333 11.4934 7.40667 11.3201 7.52667 11.1934C7.77333 10.9467 8.22667 10.9467 8.47333 11.1934C8.59333 11.3201 8.66667 11.4934 8.66667 11.6667C8.66667 11.8401 8.59333 12.0134 8.47333 12.1401ZM8.47333 9.80673C8.44 9.83339 8.40667 9.86006 8.37333 9.88673C8.33333 9.91339 8.29333 9.93339 8.25333 9.94673C8.21333 9.96673 8.17333 9.98006 8.13333 9.98672C8.08667 9.99339 8.04667 10.0001 8 10.0001C7.82667 10.0001 7.65333 9.92673 7.52667 9.80673C7.40667 9.68006 7.33333 9.50673 7.33333 9.33339C7.33333 9.16006 7.40667 8.98673 7.52667 8.86006C7.58667 8.80006 7.66 8.75339 7.74667 8.72006C7.99333 8.61339 8.28667 8.67339 8.47333 8.86006C8.59333 8.98673 8.66667 9.16006 8.66667 9.33339C8.66667 9.50673 8.59333 9.68006 8.47333 9.80673ZM10.8067 12.1401C10.68 12.2601 10.5067 12.3334 10.3333 12.3334C10.16 12.3334 9.98667 12.2601 9.86 12.1401C9.74 12.0134 9.66667 11.8401 9.66667 11.6667C9.66667 11.4934 9.74 11.3201 9.86 11.1934C10.1067 10.9467 10.56 10.9467 10.8067 11.1934C10.9267 11.3201 11 11.4934 11 11.6667C11 11.8401 10.9267 12.0134 10.8067 12.1401ZM10.8067 9.80673C10.7733 9.83339 10.74 9.86006 10.7067 9.88673C10.6667 9.91339 10.6267 9.93339 10.5867 9.94673C10.5467 9.96673 10.5067 9.98006 10.4667 9.98672C10.42 9.99339 10.3733 10.0001 10.3333 10.0001C10.16 10.0001 9.98667 9.92673 9.86 9.80673C9.74 9.68006 9.66667 9.50673 9.66667 9.33339C9.66667 9.16006 9.74 8.98673 9.86 8.86006C9.92667 8.80006 9.99333 8.75339 10.08 8.72006C10.2 8.66673 10.3333 8.65339 10.4667 8.68006C10.5067 8.68673 10.5467 8.70006 10.5867 8.72006C10.6267 8.73339 10.6667 8.75339 10.7067 8.78006C10.74 8.80673 10.7733 8.83339 10.8067 8.86006C10.9267 8.98673 11 9.16006 11 9.33339C11 9.50673 10.9267 9.68006 10.8067 9.80673Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
			&.docs {
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5333 1.47329C10.26 1.19995 9.78662 1.38662 9.78662 1.76662V4.09329C9.78662 5.06662 10.6133 5.87329 11.62 5.87329C12.2533 5.87995 13.1333 5.87995 13.8866 5.87995C14.2666 5.87995 14.4666 5.43329 14.2 5.16662C13.24 4.19995 11.52 2.45995 10.5333 1.47329Z' fill='%239096A2'/%3E%3Cpath d='M13.6667 6.79337H11.7401C10.1601 6.79337 8.87341 5.50671 8.87341 3.92671V2.00004C8.87341 1.63337 8.57342 1.33337 8.20675 1.33337H5.38008C3.32675 1.33337 1.66675 2.66671 1.66675 5.04671V10.9534C1.66675 13.3334 3.32675 14.6667 5.38008 14.6667H10.6201C12.6734 14.6667 14.3334 13.3334 14.3334 10.9534V7.46004C14.3334 7.09337 14.0334 6.79337 13.6667 6.79337ZM7.66675 11.8334H5.00008C4.72675 11.8334 4.50008 11.6067 4.50008 11.3334C4.50008 11.06 4.72675 10.8334 5.00008 10.8334H7.66675C7.94008 10.8334 8.16675 11.06 8.16675 11.3334C8.16675 11.6067 7.94008 11.8334 7.66675 11.8334ZM9.00008 9.16671H5.00008C4.72675 9.16671 4.50008 8.94004 4.50008 8.66671C4.50008 8.39337 4.72675 8.16671 5.00008 8.16671H9.00008C9.27342 8.16671 9.50008 8.39337 9.50008 8.66671C9.50008 8.94004 9.27342 9.16671 9.00008 9.16671Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
			&.check {
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4405 5.35572L8.92362 11.0344L7.57205 12.4245C6.82577 13.1918 5.6164 13.1918 4.87012 12.4245L3.51916 11.0338L1.55926 9.01707C0.813581 8.24915 0.813581 7.00411 1.55926 6.23682C1.9324 5.85349 2.421 5.66151 2.90961 5.66151C3.39822 5.66151 3.88804 5.85349 4.26058 6.23682L5.60607 7.62132C5.94518 7.97025 6.49517 7.97025 6.83428 7.62132L11.7386 2.57547C12.4843 1.80818 13.6942 1.80818 14.4399 2.57547H14.4405C15.1862 3.34401 15.1868 4.58843 14.4405 5.35572Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
		}
	}
	&[data-type=list] {
		.form-items {
			label {
				width:180px;
				letter-spacing: -0.6px;
			}
			& + .form-items {
				margin-top:20px;
			}
			.key {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				vertical-align: top;
				padding:0 6px;
				min-width: 50px;
				font-size:15px;
				line-height: 1;
				color:#333;
				white-space: nowrap;
				background-color: #f1f1f1;
				border:1px solid #ddd;
				border-radius: 12px;
				height: 24px;
			}
		}
	}
}
.confirm-aside {
	height: 715px;
	display: flex;
	flex-direction: column;
	.aside-title {
		font-size:20px;
		font-weight:600;
		color: #1a1a1a;
		line-height: 24px;
		margin-bottom:10px;
	}
	.confirm-step {
		flex: 1;
		overflow-y: auto;
		.step-top{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom:30px;
			h4 {
				font-weight: 600;
				font-size:18px;
				color:#333;
			}
			.buttons {
				width:22px;
				height:22px;
				border-radius: 4px;
				border:1px solid #ddd;
				.plus {
					width: 12px;
					height:12px;
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3455 5.34825H6.64895V0.651748C6.64895 0.290909 6.35804 0 5.9972 0C5.63636 0 5.34545 0.290909 5.34545 0.651748V5.34825H0.651748C0.290909 5.34825 0 5.63916 0 6C0 6.36084 0.290909 6.65175 0.651748 6.65175H5.34825V11.3483C5.34825 11.7063 5.63916 12 6 12C6.36084 12 6.65175 11.7091 6.65175 11.3483V6.65175H11.3483C11.7091 6.65175 12 6.36084 12 6C12 5.63916 11.7091 5.34825 11.3483 5.34825H11.3455Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
				}
			}
		}
		.list {
			li {
				display: flex;
				align-items: center;
				.thum{
					flex-shrink: 0;
					width:54px;
					height:54px;
					border:1px solid #ddd;
					border-radius: 18px;
					background-color: #F4F4F4;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_93_251)'%3E%3Cpath d='M15 0C6.73522 0 0 6.73522 0 15C0 23.2648 6.73522 30 15 30C23.2648 30 30 23.2648 30 15C30 6.73522 23.2776 0 15 0ZM15 28.3548C7.63496 28.3548 1.64524 22.365 1.64524 15C1.64524 7.63496 7.63496 1.64524 15 1.64524C22.365 1.64524 28.3548 7.63496 28.3548 15C28.3548 22.365 22.365 28.3548 15 28.3548Z' fill='%23626E7B'/%3E%3Cpath d='M20.2058 9.67862C19.8844 9.35729 19.3703 9.35729 19.049 9.67862L14.8716 13.856L10.6942 9.67862C10.3729 9.35729 9.85873 9.35729 9.53739 9.67862C9.21605 9.99996 9.21605 10.5141 9.53739 10.8354L13.7148 15.0128L9.53739 19.1902C9.21605 19.5115 9.21605 20.0257 9.53739 20.347C9.69163 20.5141 9.91014 20.5912 10.1158 20.5912C10.3215 20.5912 10.54 20.5141 10.6942 20.347L14.8716 16.1696L19.049 20.347C19.2032 20.5141 19.4217 20.5912 19.6274 20.5912C19.833 20.5912 20.0515 20.5141 20.2058 20.347C20.5271 20.0257 20.5271 19.5115 20.2058 19.1902L16.0284 15.0128L20.2058 10.8354C20.5271 10.5141 20.5271 9.99996 20.2058 9.67862Z' fill='%23626E7B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_93_251'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
				.info {
					flex:1;
					margin-left:12px;
					strong {
						display:block;
						font-size:18px;
						color:#333;
						line-height: 22px;
						margin-bottom:5px;
					}
					span {
						display: block;
						color:#666;
						font-size:15px;
						line-height: 18px;
					}
				}
				& + li {
					margin-top:15px;
				}
			}
		}
		.button-group {
			margin-top:40px;
			.buttons {
				width:100%;
				border-radius: 8px;
				font-size:18px;
				font-weight:600;
				height:46px;
				&::before {
					content:'';
					display: inline-block;
					width:22px;
					height:22px;
					background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6 0C4.76 0 0 4.76 0 10.6C0 16.44 4.76 21.2 10.6 21.2C16.44 21.2 21.2 16.44 21.2 10.6C21.2 4.76 16.45 0 10.6 0ZM10.6 20.04C5.39 20.04 1.16 15.8 1.16 10.6C1.16 5.4 5.39 1.16 10.6 1.16C15.81 1.16 20.04 5.4 20.04 10.6C20.04 15.8 15.8 20.04 10.6 20.04Z' fill='%231A1A1A'/%3E%3Cpath d='M15.2599 9.82869H11.0799V4.07133C11.0799 3.63057 10.8199 3.27246 10.4999 3.27246C10.1799 3.27246 9.91991 3.63057 9.91991 4.07133V9.82869H5.73991C5.41991 9.82869 5.15991 10.1868 5.15991 10.6276C5.15991 11.0683 5.41991 11.4264 5.73991 11.4264H9.91991V17.1838C9.91991 17.6245 10.1799 17.9826 10.4999 17.9826C10.8199 17.9826 11.0799 17.6245 11.0799 17.1838V11.4264H15.2599C15.5799 11.4264 15.8399 11.0683 15.8399 10.6276C15.8399 10.1868 15.5799 9.82869 15.2599 9.82869Z' fill='%231A1A1A'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					margin-right:10px;
				}
			}
		}
	}
}
.confirm-state{
	display: inline-flex;
	align-items: center;
	border:1px solid #ddd;
	border-radius: 16px;
	margin-bottom: 20px;
	span {
		display:block;
		padding:0 20px;
		color:#666;
		font-size:16px;
	}
}
.write-date {
	color:#666;
	font-size:16px;
	line-height: 20px;
	padding-left:20px;
	letter-spacing: -0.6px;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5333 1.47341C10.26 1.20008 9.78662 1.38674 9.78662 1.76674V4.09341C9.78662 5.06674 10.6133 5.87341 11.62 5.87341C12.2533 5.88008 13.1333 5.88008 13.8866 5.88008C14.2666 5.88008 14.4666 5.43341 14.2 5.16674C13.24 4.20008 11.52 2.46008 10.5333 1.47341Z' fill='%239096A2'/%3E%3Cpath d='M13.6667 6.79325H11.7401C10.1601 6.79325 8.87341 5.50659 8.87341 3.92659V1.99992C8.87341 1.63325 8.57342 1.33325 8.20675 1.33325H5.38008C3.32675 1.33325 1.66675 2.66659 1.66675 5.04659V10.9533C1.66675 13.3333 3.32675 14.6666 5.38008 14.6666H10.6201C12.6734 14.6666 14.3334 13.3333 14.3334 10.9533V7.45992C14.3334 7.09325 14.0334 6.79325 13.6667 6.79325ZM7.66675 11.8333H5.00008C4.72675 11.8333 4.50008 11.6066 4.50008 11.3333C4.50008 11.0599 4.72675 10.8333 5.00008 10.8333H7.66675C7.94008 10.8333 8.16675 11.0599 8.16675 11.3333C8.16675 11.6066 7.94008 11.8333 7.66675 11.8333ZM9.00008 9.16659H5.00008C4.72675 9.16659 4.50008 8.93992 4.50008 8.66659C4.50008 8.39325 4.72675 8.16659 5.00008 8.16659H9.00008C9.27342 8.16659 9.50008 8.39325 9.50008 8.66659C9.50008 8.93992 9.27342 9.16659 9.00008 9.16659Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
	margin-top:12px;
}
.timeline {
	font-size:16px;
	color:#333;
	margin-top:15px;
	.name{
		font-weight: 600;
	}
	.time {
		font-size:15px;
		color:#999;
		margin-left:10px;
	}
	.alarm {
		display: flex;
		align-items: center;
		.thum{
			width:40px;
			height:40px;
			margin-right:10px;
		}
	}
	.history {
		padding:0 20px;
		& > li {
			margin-top:15px;
			.row {
				display: flex;
				align-items: center;
			}
			.ico {
				width:20px;
				height:20px;
				margin-right: 10px;
				&.isolation {
					background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_100_453)'%3E%3Cpath d='M10 14.5C6.68667 14.5 4 11.8133 4 8.5H6L3 5.5L0 8.5H2C2 12.9167 5.58333 16.5 10 16.5C12.4633 16.5 14.6667 15.3833 16.1333 13.6333L14.71 12.21C13.61 13.6033 11.9133 14.5 10 14.5ZM18 8.5C18 4.08333 14.42 0.5 10 0.5C7.53667 0.5 5.33667 1.61667 3.86667 3.36667L5.29 4.79C6.39 3.39667 8.08667 2.5 10 2.5C13.3133 2.5 16 5.18667 16 8.5H14L17 11.5L20 8.5H18Z' fill='%239096A2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_100_453'%3E%3Crect width='20' height='16' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
				&.confirm {
					background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_100_460)'%3E%3Cpath d='M10 0C4.47701 0 0 4.47712 0 9.99975C0 15.5224 4.47701 20 10 20C15.523 20 20 15.5229 20 9.99975C20 4.47663 15.523 0 10 0Z' fill='%230AAF60'/%3E%3Cpath d='M15.2116 8.31404L10.7474 12.7798L9.65374 13.8731C9.04986 14.4765 8.07125 14.4765 7.46736 13.8726L6.37417 12.7789L4.78824 11.1934C4.18485 10.5895 4.18485 9.61036 4.78824 9.00695C5.09018 8.70549 5.48556 8.55451 5.88094 8.55451C6.27631 8.55451 6.67267 8.70549 6.97412 9.00695L8.06289 10.0957C8.33729 10.3701 8.78234 10.3701 9.05674 10.0957L13.0248 6.1276C13.6282 5.5242 14.6073 5.5242 15.2107 6.1276H15.2112C15.8145 6.732 15.815 7.71063 15.2112 8.31404H15.2116Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_100_460'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
		.step {
			font-size:16px;
			line-height: 22px;
			color:#666;
			margin-left:30px;
			margin-top:5px;
		}
	}
	.replay {
		margin-top:25px;
		[type=text] {
			width:100%;
		}
	}
}
.org-search {
	background-color: #EAEFF8 ;
	border-radius: 4px;
	display: flex;
	align-items: center;
	padding:20px 24px;
	gap: 8px;
	label {
		font-size:16px;
		color:#333;
		font-weight: 600;
	}
	.buttons[data-size=mid] {
		height:38px;
	}
	.form-inp {
		flex:1;
		[type=text] {
			border:1px solid #E4E4E7;
			border-radius: 4px;
			height:40px;
		}
	
	}
}
.org-tree {
	margin:30px 0;
	li {
		position: relative;
		.node {
			display: flex;
			align-items: center;
			height: 40px;
			.button-group {
				position: absolute;
				top:6px;
				right:14px;
				.buttons {
					width:22px;
					height:22px;
					font-size:0;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					background-repeat: no-repeat;
					background-position: center;
					margin-left:8px;
					&.add {
						border:1px solid #ddd;
						border-radius: 4px;
						background-color: #fff;
						background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3455 5.34825H6.64895V0.651748C6.64895 0.290909 6.35804 0 5.9972 0C5.63636 0 5.34545 0.290909 5.34545 0.651748V5.34825H0.651748C0.290909 5.34825 0 5.63916 0 6C0 6.36084 0.290909 6.65175 0.651748 6.65175H5.34825V11.3483C5.34825 11.7063 5.63916 12 6 12C6.36084 12 6.65175 11.7091 6.65175 11.3483V6.65175H11.3483C11.7091 6.65175 12 6.36084 12 6C12 5.63916 11.7091 5.34825 11.3483 5.34825H11.3455Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
					}
					&.info {
						background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='8' width='3' height='3' rx='1' fill='%239096A2'/%3E%3Crect x='8' y='8' width='3' height='3' rx='1' fill='%239096A2'/%3E%3Crect x='15' y='8' width='3' height='3' rx='1' fill='%239096A2'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}
		.ico-ocl {
			display: inline-block;
			width:24px;
			height:24px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
		&.selected {
			> .node {background-color: #F4F4F4;}
		}
		&.drag {
			cursor: pointer;
			&::before{
				content: '';
				position: absolute;
				top:11px;
				left: -18px;
				width:18px;
				height:18px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='3' width='2' height='2' rx='1' fill='%239096A2'/%3E%3Crect x='5' y='8' width='2' height='2' rx='1' fill='%239096A2'/%3E%3Crect x='5' y='13' width='2' height='2' rx='1' fill='%239096A2'/%3E%3Crect x='10' y='3' width='2' height='2' rx='1' fill='%239096A2'/%3E%3Crect x='10' y='8' width='2' height='2' rx='1' fill='%239096A2'/%3E%3Crect x='10' y='13' width='2' height='2' rx='1' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
		}
		.tree-anchor {
			flex:1;
			display: flex;
			align-items: center;
			&::before {
				content: '';
				width:32px;
				height:32px;
				margin:0 4px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3684 3.38281C10.8674 3.34848 10.4958 2.99172 10.207 2.60673C10.0587 2.40878 9.93203 2.20345 9.8214 2.03052C9.35443 1.3016 8.9623 0.169076 7.90458 0.0141164C7.83083 0.00320828 7.75599 0 7.68114 0H2.15049C0.962789 0 0 0.846023 0 1.88968V17.0196C0 17.9539 0.861655 18.711 1.92485 18.711H22.0751C23.1383 18.711 24 17.9539 24 17.0196V5.07421C24 4.13996 23.1383 3.38281 22.0751 3.38281H11.3684Z' fill='%23DF9C01'/%3E%3Cpath d='M2.72709 2.72461H21.5342C22.5966 2.72461 23.459 3.57388 23.459 4.62018V17.2571H0.802246V4.62018C0.802246 3.57388 1.66463 2.72461 2.72709 2.72461Z' fill='%23F2F2F2'/%3E%3Cpath d='M12.6316 3.79114C13.1326 3.75267 13.5042 3.35285 13.793 2.92138C13.9413 2.69954 14.068 2.46942 14.1786 2.27562C14.6456 1.45871 15.0377 0.189485 16.0954 0.0158204C16.1692 0.00359554 16.244 0 16.3189 0H21.8495C23.0372 0 24 0.948145 24 2.11778V17.1044C24 18.1514 23.1383 19 22.0751 19H1.92485C0.861655 19 0 18.1514 0 17.1044V5.68671C0 4.63969 0.861655 3.79114 1.92485 3.79114H12.6316Z' fill='%23FFC928'/%3E%3C/svg%3E%0A");
			}
		}
		&.open {
			> .node .ico-ocl {
				transform: rotate(90deg);
			}
			.tree-anchor {
				&::before {
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='19' viewBox='0 0 24 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_135_1573)'%3E%3Cpath d='M10.1441 3.43512C9.6971 3.40026 9.36545 3.03798 9.10775 2.64703C8.97548 2.44602 8.86243 2.23752 8.76372 2.06192C8.34703 1.32173 7.99714 0.171691 7.05333 0.0143347C6.98752 0.00325789 6.92073 0 6.85394 0H1.9189C0.859105 0 0 0.859105 0 1.9189V17.2828C0 18.2315 0.768862 19.0003 1.71756 19.0003H19.6978C20.6465 19.0003 21.4154 18.2315 21.4154 17.2828V5.15267C21.4154 4.20398 20.6465 3.43512 19.6978 3.43512H10.1441Z' fill='%23DF9C01'/%3E%3Cpath d='M2.43305 4.02539H19.2148C20.1628 4.02539 20.9323 4.7949 20.9323 5.74295V17.1931H0.71582V5.74295C0.71582 4.7949 1.48533 4.02539 2.43338 4.02539H2.43305Z' fill='%23F2F2F2'/%3E%3Cpath d='M19.8271 19.0002H1.76606C0.780551 19.0002 0.122457 18.2013 0.296103 17.2158L2.10847 6.93718C2.28211 5.95167 3.22201 5.15283 4.20752 5.15283H22.2686C23.2541 5.15283 23.9122 5.95167 23.7386 6.93718L21.9262 17.2158C21.7526 18.2013 20.8126 19.0002 19.8271 19.0002Z' fill='%23FFC928'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_135_1573'%3E%3Crect width='23.7663' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
		ul {
			margin-left:24px;
		}
		.tree-edit {
			flex:1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border:1px solid #0086FF;
			padding:5px 10px;
			height:36px;
			[type=text] {
				border:none;
				flex:1;
				width:100%;
			}
			label {
				font-size:15px;
				color:#999;
				padding:0 15px;
			}
			.buttons {
				border:1px solid #ddd;
				background-color: #f1f1f1;
				width:60px;
				height:26px;
				border-radius: 2px;
				font-size:15px;
				color:#333;
			}
		}
	}
}