@charset "utf-8";
.datepicker-calener {
	width:280px;
	background-color: $white;
	z-index: 3;
	border-radius: 4px;
	border:1px solid $border;
	position: absolute;
	top:40px;
	left:0;
	.dp-heading {
		display: flex;
		align-items: center;
		padding:20px 20px 0;
		button {
			width:20px;
			height:20px;
			font-size:0;
			background-position: center;
			background-repeat: no-repeat;
			&.button-left{
				background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.2 11.814L1 6.657L5.2 1.5' stroke='%23007DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
			&.button-right{
				background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11.814L5.2 6.657L1 1.5' stroke='%23007DFA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			}
		}
		.heading-center {
			font-size:18px;
			color:#1a1a1a;
			font-weight:700;
			text-align: center;
			flex: 1;
		}
	}
	.dp-body{
		padding:20px 10px 10px;
		.week {
			display: flex;
			align-items: stretch;
			margin-bottom:10px;
			span {
				display: block;
				width: calc(100% / 7);
				text-align: center;
				font-weight:700;
				font-size:14px;
				color: #1a1a1a;
				&:first-child {
					color:#FA4545;	
				}
				&:last-child {
					color:#007DFA;
				}
			}
		}
		.days {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			button {
				display: block;
				width: calc(100% / 7);
				font-size:14px;
				font-weight: 500;
				color:#333;
				text-align: center;
				height:36px;
				line-height: 36px;
				&:disabled{
					color:#BDBDBD;
				}
			}
		}
	}
}
//마이페이지
.mypage-info {
	display: flex;
	align-items: stretch;
	.profile {
		width:210px;
		border-right: 1px solid #ddd;
		.photo {
			width:120px;
			height:160px;
			margin:0 auto;
			background-color: #EAEFF8;
			background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2078_457)'%3E%3Cpath d='M36.0025 0C16.1496 0 0 16.1496 0 36.0025C0 55.8555 16.1496 72.0051 36.0025 72.0051C55.8555 72.0051 72.0051 55.8555 72.0051 36.0025C72.0051 16.1496 55.8504 0 36.0025 0ZM36.0025 67.1028C18.8522 67.1028 4.8972 53.1478 4.8972 35.9975C4.8972 18.8471 18.8522 4.8972 36.0025 4.8972C53.1529 4.8972 67.1079 18.8522 67.1079 36.0025C67.1079 53.1529 53.1529 67.1079 36.0025 67.1079V67.1028Z' fill='white'/%3E%3Cpath d='M47.7274 46.1267C47.0213 45.8676 46.2186 46.1318 45.8325 46.7821C44.7251 48.621 41.8802 52.0247 36.0026 52.0247C30.1249 52.0247 27.2801 48.621 26.1726 46.7821C25.7815 46.1369 24.9839 45.8676 24.2778 46.1267C22.4032 46.8176 21.7326 49.1189 22.9366 50.714C25.0296 53.4776 29.0327 56.9219 36.0026 56.9219C42.9725 56.9219 46.9756 53.4776 49.0686 50.714C50.2725 49.1189 49.602 46.8176 47.7274 46.1267Z' fill='white'/%3E%3Cpath d='M48.9871 36.0021C51.5543 36.0021 53.6354 33.4456 53.6354 30.292C53.6354 27.1385 51.5543 24.582 48.9871 24.582C46.42 24.582 44.3389 27.1385 44.3389 30.292C44.3389 33.4456 46.42 36.0021 48.9871 36.0021Z' fill='white'/%3E%3Cpath d='M23.0128 36.0021C25.5799 36.0021 27.6611 33.4456 27.6611 30.292C27.6611 27.1385 25.5799 24.582 23.0128 24.582C20.4456 24.582 18.3645 27.1385 18.3645 30.292C18.3645 33.4456 20.4456 36.0021 23.0128 36.0021Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2078_457'%3E%3Crect width='72' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			.user-img {
				position: relative;
				&::before{
					content: '';
					display: block;
					padding-top:calc(160 / 120 * 100%);
				}
				& > img {
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					object-fit: cover;
				}
			}
		}
		.tx-msg {
			@include font(15px, 18px, 400);
			color:$base-color;
			text-align: center;
			margin-top:20px;
		}
	}
	.information {
		flex:1;
		padding-left:40px;
		.form-inp {
			width:180px;
			&.w240 {
				width:240px;
			}
			&.w320 {
				width:320px;
			}
			&.address {
				width:730px;
				gap:8px;
				[type=text] {
					flex:unset;
					flex-shrink: 0;
					&.zipcode {
						width:72px;
					}
					&.add-1 {
						width:400px;
					}
					&.add-2 {
						width:240px;
					}
				}
			}
			[type=text] {
				border-radius: 0;
				height: 34px;

			}
		}
		.button-group {
			margin-top:40px;
			gap:12px;
			.buttons {
				height:48px;
				min-width:96px;
				@include font(20px, 24px, 600);
			}
		}
	}
}

.table[data-intent=info] {
	border-top: 2px solid #666;
	border-bottom:1px solid #666;
	th {
		border-top: none;
		text-align: right;
		padding:0 20px;
		height:50px;
		
	}
	tr:last-child {
		th, td {
			border-bottom:none;
		}
	}
	td {
		padding:0 9px;
		height:50px;
		@include font(15px,20px,400);
		color:#666;
		text-align: left;
	}
	tr:hover td {
		background-color: unset;
	}
}

.button-group[data-intent=tab-top]{
	margin-bottom:16px;
	.buttons {
		font-weight:500;
		border-radius: 4px;
		&[data-color=green] {
			color:$white;
			border-color:#0AAF60;
		}
	}
}
.file-search {
	background-color: #F4F4F4;
	padding:16px 30px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	display: flex;
	align-items: center;
	gap:8px;
	margin-bottom:40px;
	&::before{
		@include icon(24px, 24px);
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.57182 2.39999V21.6M17.4861 10.6286H12.6861M17.4861 6.51428H12.6861M5.14325 6.51428H2.40039M5.14325 10.6286H2.40039M5.14325 14.7428H2.40039M6.51468 21.6H18.8575C20.3724 21.6 21.6004 20.372 21.6004 18.8571V5.14285C21.6004 3.62801 20.3724 2.39999 18.8575 2.39999H6.51468C4.99984 2.39999 3.77182 3.62801 3.77182 5.14285V18.8571C3.77182 20.372 4.99984 21.6 6.51468 21.6Z' stroke='%23626E7B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
	}
	.buttons {
		@include font(16px,1, 500);
		padding:0 12px;
		border-radius: 4px;
	}
	.form-inp {
		width:480px;
		border:1px solid #E4E4E7;
		border-radius: 4px;
		background-color: $white;
		height: 40px;
		margin-right:2px;
		[type=text]{
			border:none;
			height:38px;
			border-radius: 0;
			@include font(16px, 1, 400);
			color:#777;
			background-color: transparent;
		}
		.buttons[data-intent=search] {
			font-size:0;
			width:unset;
			height:unset;
			background-color: transparent;
			border:none;
			border-radius: 0;
			padding:0;
			margin:0 10px;
			&::before {
				@include icon (18px, 18px);
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.975 2.05201C9.239 -0.684004 4.78731 -0.684004 2.05201 2.05201C-0.684004 4.78803 -0.684004 9.23972 2.05201 11.975C4.49321 14.4162 8.29991 14.6787 11.0352 12.7645L15.9126 17.6419C16.39 18.1194 17.1645 18.1194 17.6419 17.6419C18.1194 17.1645 18.1194 16.39 17.6419 15.9126L12.7645 11.0352C14.6794 8.29991 14.4162 4.49321 11.975 2.05201ZM10.8224 10.8224C8.72199 12.9227 5.30503 12.9227 3.20538 10.8224C1.10501 8.72199 1.10501 5.30503 3.20538 3.20538C5.30575 1.10501 8.72271 1.10501 10.8224 3.20538C12.9227 5.30575 12.9227 8.72271 10.8224 10.8231V10.8224Z' fill='black'/%3E%3C/svg%3E%0A");
				margin:0;
			}
		}
	}
}
.file-title {
	margin-bottom:20px;
	.buttons[data-intent=file-upload]{
		padding:0;
		height:unset;
		width:unset;
		@include font(20px,24px, 600);
		color:$black;
		&::before {
			@include icon(24px, 24px);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.59961 15.2198V18.9257C3.59961 19.4873 3.82086 20.026 4.21469 20.4231C4.60851 20.8202 5.14265 21.0434 5.69961 21.0434H18.2996C18.8566 21.0434 19.3907 20.8202 19.7845 20.4231C20.1784 20.026 20.3996 19.4873 20.3996 18.9257V15.2198M12.043 14.9566L12.043 2.95663M12.043 2.95663L7.24297 7.54179M12.043 2.95663L16.8429 7.54179' stroke='%23626E7B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			margin-right:8px;
		}
	}
	h3 {
		display: inline-flex;
		align-items: flex-end;
		@include font(20px, 24px, 600);
		color:$black;
		span {
			@include font(16px, 20px, 500);
			color:#777;
		}
		&::before {
			@include icon(24px, 24px);
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2984 12.2411L12.3723 20.1673C10.215 22.3246 6.97955 22.5793 4.78001 20.3798C2.62269 18.2225 2.90307 15.0971 5.10261 12.8976L14.0124 3.98777C15.376 2.62414 17.5714 2.62414 18.935 3.98777C20.2986 5.3514 20.2986 7.54673 18.935 8.91036L9.86874 17.9766C9.18908 18.6563 8.08712 18.6563 7.40745 17.9766C6.72779 17.2969 6.72779 16.195 7.40745 15.5153L15.49 7.43274' stroke='%23626E7B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
			margin-right:8px;
		}
	}
}
.file-list {
	background-color: #ddd;
	border-radius: 4px;
	padding:18px 28px;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin:-6px 0 40px;
	li {
		width:96px;
		margin:12px;
		a {display: block;}
		.ico {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size:0;
			width: 90px;
			height:90px;
			border-radius: 4px;
			background-color: $white;
			margin:0 auto 12px;
		}
		.name {
			@include font(15px, 18px, 400);
			color:$base-color;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width:100%;
			overflow: hidden;
		}
	}
}
.editor {
	border:1px solid #ddd;
}

//modal(결제)
.modal-payment {
	.payment-grid {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-bottom: 40px;
		.left {
			width:460px;
		}
		.right {
			width:360px;
		}
	}
	.pay-search {
		background-color: #EAEFF8;
		padding:20px;
		border-radius: 4px;
		margin-bottom: 30px;
		.form-inp{
			gap:10px;
			.buttons {
				padding:0 10px;
				min-width: 58px;
				height: 40px;
				@include font(16px, 20px, 500);
				border-radius: 4px;
			}
			label {
				@include font(16px, 20px, 600);
				color:$title;
			}
		}
	}
	.table {
		td {
			padding:15px 0;
		}
		.nodata {
			padding:25px 0;
		}
		&[data-intent=info] {
			margin-bottom:40px;
			td {
				padding:12px;
				line-height: unset;
			}
			.form-inp{
				width:100%;
				[type=password] {
					width:100%;
					border-radius: 0
				}
			}
			.form-radio{
				height:26px;
			}
			.table-inner table {
				width:100%;
				td {
					border:1px solid #ddd;
					text-align: center;
					.sign {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 10px;;
						min-height: 140px;
					}
				}
			}
		}
	}
	.payment-title {
		@include font(20px, 24px, 500);
		color:$title;
		margin-bottom:20px;
	}
	.payment-sub-title {
		@include font(18px, 22px, 500);
		color:$base-color;
		margin-bottom:20px;
	}
	.payment-list {
		border-top:2px solid #666;
		li {
			display: flex;
			align-items: center;
			padding:8px 20px;
			min-height: 50px;
			border-bottom: 1px solid #ddd;
			&:last-child {
				border-bottom-color:#666;
			}
		}
		.date {
			@include font(16px, 20px, 400);
			color:$base-color;
			margin-left:auto;
		}
		.buttons:not([data-intent=icon]) {
			height:32px;
			border-radius: 3px;
			padding:7px 10px;
			@include font(15px, 18px, 500);
			min-width: 76px;
			&[data-color=gray-line]{
				background-color: #F4F4F4;
			}
		
		}
		.buttons[data-intent=icon] {
			&::before {
				@include icon(24px, 24px);
				background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.9'%3E%3Cpath d='M14.3865 14.3859L12 11.9995M12 11.9995L9.61351 9.61297M12 11.9995L9.61352 14.3859M12 11.9995L14.3865 9.61297M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02945 7.02944 3.00002 12 3.00002C16.9706 3.00002 21 7.02945 21 12Z' stroke='%239096A2' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A");
			}
		}
		.form-inp {
			gap:10px;
			[type=text] {
				height:36px;
			}
		}
	}
	[data-intent=pay-add] {
		margin-top:30px;
		gap:10px;
		.buttons {
			color:$white;
			border-radius: 4px;
			border-color: #0AAF60;
			@include font(16px, 20px, 500)
		}
	}
	.pay-choice {
		margin-bottom:40px;
	}

}