/* variable */
$base-color : #333;
$white : #fff;
$black : #000;

$title : #1A1A1A;

$primary:#007DFA; 
$secondary : #0C1E5B;

$bg-tr : #F0FAFF;
$bg-search : #EAEFF8;
$bg-inp : #F5F5F7;

$btn-search : #7E8BCC;
$btn-gray : #8996A0;

$border:#ECECF0;

@mixin font($size, $line, $weight){
	font-size:$size;
	font-weight:$weight;
	line-height: $line;
}

@mixin icon($width, $height) {
	content:'';
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	width:$width;
	height:$height;
	font-size:0;
}