@charset "utf-8";
.aside {
	position: fixed;
	top:90px;
	left:0;
	width:240px;
	height:calc(100% - 90px); 
	box-shadow: 6px 12px 18px rgba(0, 0, 0, 0.1);
	//transition: 0.3s all;
	.company{
		display: flex;
		align-items: center;
		height: 90px;
		background-color: #6C78B5;
		padding:0 33px;
		gap:12px;
		border-radius: 0 24px 0 0;
		.thum {
			width:24px;
			height:24px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_600)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5771 19.4402C17.1849 18.9132 4.75587 2.50051 4.5904 2.27988C4.73136 2.27988 6.36772 2.27988 6.53933 2.27988C6.72932 2.53728 19.1645 18.7477 19.667 19.4402H17.5832H17.5771ZM14.5986 9.11951C16.0204 7.48315 21.7508 0.808989 22.382 0.0490296L18.8887 0.0245148C17.9387 1.11542 13.2993 6.32482 12.8825 6.78447C12.3309 6.09193 7.67926 0.33095 7.43412 0H0C0.913177 1.18284 8.69663 11.3197 9.03984 11.7671C7.14607 13.9367 1.17058 20.8069 0.47191 21.6098L4.32686 21.6588L10.7865 14.2799C11.6997 15.4505 16.0266 21.144 16.6027 21.7201C17.2155 21.7201 23.62 21.6772 24 21.665C23.191 20.6108 15.144 9.83657 14.5986 9.11951Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_600'%3E%3Crect width='24' height='21.7201' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

		}
		.name {
			color:#fff;
			font-size:20px;
			font-weight: 600;
		}
	}
	
	&[aria-expanded=false] {
		width:90px;
		& + .container {
			.contents-top,
			.contents {
				padding-left:90px;
			}
		}
		.lnb-toggle {
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-1.14997e-07 1.02536C-1.24966e-07 0.113355 1.12089 -0.322652 1.73715 0.349639L5.38059 4.32429C5.73105 4.70661 5.73105 5.29342 5.38059 5.67574L1.73715 9.6504C1.12089 10.3227 -1.81325e-08 9.88668 -2.81018e-08 8.97467L-1.14997e-07 1.02536Z' fill='white'/%3E%3C/svg%3E%0A");
		}
		.company {
			padding:0 18px;
			justify-content: center;
			.name {
				font-size:0;
				opacity: 0;
				pointer-events: none;
			}
		}
		.aside-nav {
			padding:14px 18px;
			.user-info {
				gap: 0;
				.name {
					font-size:0;
					opacity: 0;
					pointer-events: none;
				}
			}
			.nav-lnb {
				.lnb-items {
					font-size:0;
					border-radius: 0;
					padding: 0;
					justify-content: center;
					.ico {
						margin-right:0;
					}
					&.active {
						border:0;
						background-color: transparent;
					}
				}
			}
		}
	}
}
.aside-nav {
	height:calc(100% - 90px);
	background-color: #fff;
	padding:14px 20px;
	.user-info {
		display: flex;
		align-items: center;
		gap:10px;
		.thum {
			width:54px;
			height:54px;
			border:1px solid #ddd;
			border-radius: 18px;
			overflow: hidden;
			img {
				display: block;
				margin:0 auto;
			}
		}
		.name {
			font-size: 18px;
			color:#000;
			font-weight:600;
		}
	}
}
.nav-lnb {
	margin-top:15px;
	.lnb-items {
		display: flex;
		align-items: center;
		height:50px;
		border:1px solid transparent;
		padding:0 15px;
		color:#333;
		font-size:16px;
		font-weight:500;
		border-radius: 12px;
		&.active {
			border-color: #E4E4E7;
			background-color: #FAFAFA;
			color:#3981F7;
		}
		.ico {
			width:22px;
			height:22px;
			margin-right:6px;
			&.lnb01 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_550)'%3E%3Cpath d='M11 19.25C15.5563 19.25 19.25 15.5563 19.25 11C19.25 6.44365 15.5563 2.75 11 2.75C6.44365 2.75 2.75 6.44365 2.75 11C2.75 15.5563 6.44365 19.25 11 19.25Z' stroke='%233981F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.30005 8.25H18.7' stroke='%233981F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.30005 13.75H18.7' stroke='%233981F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5417 2.75C8.99742 5.22464 8.17871 8.08304 8.17871 11C8.17871 13.917 8.99742 16.7754 10.5417 19.25' stroke='%233981F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.4583 2.75C13.0025 5.22464 13.8212 8.08304 13.8212 11C13.8212 13.917 13.0025 16.7754 11.4583 19.25' stroke='%233981F7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_550'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
			&.lnb02 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5833 3.20834H6.41659C3.66659 3.20834 1.83325 4.58334 1.83325 7.79168V14.2083C1.83325 17.4167 3.66659 18.7917 6.41659 18.7917H15.5833C18.3333 18.7917 20.1666 17.4167 20.1666 14.2083V7.79168C20.1666 4.58334 18.3333 3.20834 15.5833 3.20834ZM16.0141 8.79084L13.1449 11.0825C12.5399 11.5683 11.7699 11.8067 10.9999 11.8067C10.2299 11.8067 9.45075 11.5683 8.85492 11.0825L5.98575 8.79084C5.69242 8.55251 5.64659 8.11251 5.87575 7.81918C6.11409 7.52584 6.54492 7.47084 6.83825 7.70918L9.70742 10.0008C10.4041 10.56 11.5866 10.56 12.2833 10.0008L15.1524 7.70918C15.4458 7.47084 15.8858 7.51668 16.1149 7.81918C16.3533 8.11251 16.3074 8.55251 16.0141 8.79084Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
			&.lnb03 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3542 3.26334V1.83334C15.3542 1.45751 15.0425 1.14584 14.6667 1.14584C14.2909 1.14584 13.9792 1.45751 13.9792 1.83334V3.20834H8.02088V1.83334C8.02088 1.45751 7.70921 1.14584 7.33338 1.14584C6.95755 1.14584 6.64588 1.45751 6.64588 1.83334V3.26334C4.17088 3.49251 2.97005 4.96834 2.78671 7.15918C2.76838 7.42501 2.98838 7.64501 3.24505 7.64501H18.755C19.0209 7.64501 19.2409 7.41584 19.2134 7.15918C19.03 4.96834 17.8292 3.49251 15.3542 3.26334Z' fill='%239096A2'/%3E%3Cpath d='M18.3333 9.01999H3.66667C3.1625 9.01999 2.75 9.43249 2.75 9.93666V15.5833C2.75 18.3333 4.125 20.1667 7.33333 20.1667H14.6667C17.875 20.1667 19.25 18.3333 19.25 15.5833V9.93666C19.25 9.43249 18.8375 9.01999 18.3333 9.01999ZM8.4425 16.6925C8.39667 16.7292 8.35083 16.775 8.305 16.8025C8.25 16.8392 8.195 16.8667 8.14 16.885C8.085 16.9125 8.03 16.9308 7.975 16.94C7.91083 16.9492 7.85583 16.9583 7.79167 16.9583C7.6725 16.9583 7.55333 16.9308 7.44333 16.885C7.32417 16.8392 7.2325 16.775 7.14083 16.6925C6.97583 16.5183 6.875 16.28 6.875 16.0417C6.875 15.8033 6.97583 15.565 7.14083 15.3908C7.2325 15.3083 7.32417 15.2442 7.44333 15.1983C7.60833 15.125 7.79167 15.1067 7.975 15.1433C8.03 15.1525 8.085 15.1708 8.14 15.1983C8.195 15.2167 8.25 15.2442 8.305 15.2808C8.35083 15.3175 8.39667 15.3542 8.4425 15.3908C8.6075 15.565 8.70833 15.8033 8.70833 16.0417C8.70833 16.28 8.6075 16.5183 8.4425 16.6925ZM8.4425 13.4842C8.26833 13.6492 8.03 13.75 7.79167 13.75C7.55333 13.75 7.315 13.6492 7.14083 13.4842C6.97583 13.31 6.875 13.0717 6.875 12.8333C6.875 12.595 6.97583 12.3567 7.14083 12.1825C7.3975 11.9258 7.80083 11.8433 8.14 11.99C8.25917 12.0358 8.36 12.1 8.4425 12.1825C8.6075 12.3567 8.70833 12.595 8.70833 12.8333C8.70833 13.0717 8.6075 13.31 8.4425 13.4842ZM11.6508 16.6925C11.4767 16.8575 11.2383 16.9583 11 16.9583C10.7617 16.9583 10.5233 16.8575 10.3492 16.6925C10.1842 16.5183 10.0833 16.28 10.0833 16.0417C10.0833 15.8033 10.1842 15.565 10.3492 15.3908C10.6883 15.0517 11.3117 15.0517 11.6508 15.3908C11.8158 15.565 11.9167 15.8033 11.9167 16.0417C11.9167 16.28 11.8158 16.5183 11.6508 16.6925ZM11.6508 13.4842C11.605 13.5208 11.5592 13.5575 11.5133 13.5942C11.4583 13.6308 11.4033 13.6583 11.3483 13.6767C11.2933 13.7042 11.2383 13.7225 11.1833 13.7317C11.1192 13.7408 11.0642 13.75 11 13.75C10.7617 13.75 10.5233 13.6492 10.3492 13.4842C10.1842 13.31 10.0833 13.0717 10.0833 12.8333C10.0833 12.595 10.1842 12.3567 10.3492 12.1825C10.4317 12.1 10.5325 12.0358 10.6517 11.99C10.9908 11.8433 11.3942 11.9258 11.6508 12.1825C11.8158 12.3567 11.9167 12.595 11.9167 12.8333C11.9167 13.0717 11.8158 13.31 11.6508 13.4842ZM14.8592 16.6925C14.685 16.8575 14.4467 16.9583 14.2083 16.9583C13.97 16.9583 13.7317 16.8575 13.5575 16.6925C13.3925 16.5183 13.2917 16.28 13.2917 16.0417C13.2917 15.8033 13.3925 15.565 13.5575 15.3908C13.8967 15.0517 14.52 15.0517 14.8592 15.3908C15.0242 15.565 15.125 15.8033 15.125 16.0417C15.125 16.28 15.0242 16.5183 14.8592 16.6925ZM14.8592 13.4842C14.8133 13.5208 14.7675 13.5575 14.7217 13.5942C14.6667 13.6308 14.6117 13.6583 14.5567 13.6767C14.5017 13.7042 14.4467 13.7225 14.3917 13.7317C14.3275 13.7408 14.2633 13.75 14.2083 13.75C13.97 13.75 13.7317 13.6492 13.5575 13.4842C13.3925 13.31 13.2917 13.0717 13.2917 12.8333C13.2917 12.595 13.3925 12.3567 13.5575 12.1825C13.6492 12.1 13.7408 12.0358 13.86 11.99C14.025 11.9167 14.2083 11.8983 14.3917 11.935C14.4467 11.9442 14.5017 11.9625 14.5567 11.99C14.6117 12.0083 14.6667 12.0358 14.7217 12.0725C14.7675 12.1092 14.8133 12.1458 14.8592 12.1825C15.0242 12.3567 15.125 12.595 15.125 12.8333C15.125 13.0717 15.0242 13.31 14.8592 13.4842Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}

			&.lnb04 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1667 13.75C20.1667 17.2975 17.2975 20.1667 13.75 20.1667L14.7125 18.5625' stroke='%239096A2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.83325 8.25001C1.83325 4.70251 4.70242 1.83334 8.24992 1.83334L7.28742 3.43751' stroke='%239096A2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.1667 3.85001V3.95084C20.1667 4.20751 19.965 4.40918 19.7083 4.40918H11.4583C11.2017 4.40918 11 4.20751 11 3.95084V3.85001C11 2.23668 11.4033 1.83334 13.035 1.83334H18.1317C19.7633 1.83334 20.1667 2.23668 20.1667 3.85001Z' fill='%239096A2'/%3E%3Cpath d='M11.4583 5.32584C11.2017 5.32584 11 5.5275 11 5.78417V6.70084V7.60834C11 9.22167 11.4033 9.625 13.035 9.625H18.1317C19.7633 9.625 20.1667 9.22167 20.1667 7.60834V6.70084V5.78417C20.1667 5.5275 19.965 5.32584 19.7083 5.32584H11.4583Z' fill='%239096A2'/%3E%3Cpath d='M10.9999 14.3917V14.4925C10.9999 14.7492 10.7983 14.9508 10.5416 14.9508H2.29159C2.03492 14.9508 1.83325 14.7492 1.83325 14.4925V14.3917C1.83325 12.7783 2.23659 12.375 3.86825 12.375H8.96492C10.5966 12.375 10.9999 12.7783 10.9999 14.3917Z' fill='%239096A2'/%3E%3Cpath d='M2.29159 15.8675C2.03492 15.8675 1.83325 16.0692 1.83325 16.3258V17.2425V18.15C1.83325 19.7633 2.23659 20.1667 3.86825 20.1667H8.96492C10.5966 20.1667 10.9999 19.7633 10.9999 18.15V17.2425V16.3258C10.9999 16.0692 10.7983 15.8675 10.5416 15.8675H2.29159Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}

			&.lnb05 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_19_558)'%3E%3Cpath d='M12.8333 7.33332C13.8459 7.33332 14.6667 6.51251 14.6667 5.49999C14.6667 4.48747 13.8459 3.66666 12.8333 3.66666C11.8208 3.66666 11 4.48747 11 5.49999C11 6.51251 11.8208 7.33332 12.8333 7.33332Z' fill='%239096A2' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.66675 5.5H11.0001' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6667 5.5H18.3334' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.33333 12.8333C8.34585 12.8333 9.16667 12.0125 9.16667 11C9.16667 9.98747 8.34585 9.16666 7.33333 9.16666C6.32081 9.16666 5.5 9.98747 5.5 11C5.5 12.0125 6.32081 12.8333 7.33333 12.8333Z' fill='%239096A2' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.66675 11H5.50008' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.16675 11H18.3334' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5833 18.3333C16.5959 18.3333 17.4167 17.5125 17.4167 16.5C17.4167 15.4875 16.5959 14.6667 15.5833 14.6667C14.5708 14.6667 13.75 15.4875 13.75 16.5C13.75 17.5125 14.5708 18.3333 15.5833 18.3333Z' fill='%239096A2' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.66675 16.5H13.7501' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.4167 16.5H18.3334' stroke='%239096A2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_19_558'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
			}
			&.lnb06 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0001 11C13.5314 11 15.5834 8.94795 15.5834 6.41665C15.5834 3.88534 13.5314 1.83331 11.0001 1.83331C8.46878 1.83331 6.41675 3.88534 6.41675 6.41665C6.41675 8.94795 8.46878 11 11.0001 11Z' fill='%239096A2'/%3E%3Cpath d='M11 13.2917C6.40748 13.2917 2.66748 16.3717 2.66748 20.1667C2.66748 20.4234 2.86915 20.625 3.12581 20.625H18.8741C19.1308 20.625 19.3325 20.4234 19.3325 20.1667C19.3325 16.3717 15.5925 13.2917 11 13.2917Z' fill='%239096A2'/%3E%3C/svg%3E%0A");		
			}
			&.lnb07 {
				background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.4249 9.22C16.7658 9.22 16.0874 7.94 16.9124 6.37C17.3891 5.46 17.1049 4.3 16.2708 3.78L14.6849 2.79C13.9608 2.32 13.0258 2.6 12.5949 3.39L12.4941 3.58C11.6691 5.15 10.3124 5.15 9.47825 3.58L9.37742 3.39C8.96492 2.6 8.02992 2.32 7.30575 2.79L5.71992 3.78C4.88575 4.3 4.60159 5.47 5.07825 6.38C5.91242 7.94 5.23409 9.22 3.57492 9.22C2.62159 9.22 1.83325 10.07 1.83325 11.12V12.88C1.83325 13.92 2.61242 14.78 3.57492 14.78C5.23409 14.78 5.91242 16.06 5.07825 17.63C4.60159 18.54 4.88575 19.7 5.71992 20.22L7.30575 21.21C8.02992 21.68 8.96492 21.4 9.39575 20.61L9.49659 20.42C10.3216 18.85 11.6783 18.85 12.5124 20.42L12.6133 20.61C13.0441 21.4 13.9791 21.68 14.7033 21.21L16.2891 20.22C17.1233 19.7 17.4074 18.53 16.9308 17.63C16.0966 16.06 16.7749 14.78 18.4341 14.78C19.3874 14.78 20.1758 13.93 20.1758 12.88V11.12C20.1666 10.08 19.3874 9.22 18.4249 9.22ZM10.9999 15.25C9.35909 15.25 8.02075 13.79 8.02075 12C8.02075 10.21 9.35909 8.75 10.9999 8.75C12.6408 8.75 13.9791 10.21 13.9791 12C13.9791 13.79 12.6408 15.25 10.9999 15.25Z' fill='%239096A2'/%3E%3C/svg%3E%0A");
			}
		}
	}
}
.lnb-toggle {
	position: absolute;
	top:50%;
	right:-16px;
	transform: translateY(calc(50% + 24px));
	width:16px;
	height:48px;
	border-radius: 0px, 2px, 2px, 0px;
	background-color: #6C78B5;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1.02536C6 0.113355 4.87911 -0.322652 4.26285 0.349639L0.619414 4.32429C0.268953 4.70661 0.268953 5.29342 0.619414 5.67574L4.26285 9.6504C4.87911 10.3227 6 9.88668 6 8.97467L6 1.02536Z' fill='white'/%3E%3C/svg%3E%0A");
	cursor: pointer;
}